<!-- Minimal statistics section start -->
<section id="minimal-statistics">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Minimal Statistics Cards</div>
			<p class="content-sub-header">Statistics on minimal cards.</p>
		</div>
	</div>

	<div class="row" matchHeight="card">
***REDACTED***
