.wi-alien:before {content: $alien;}
.wi-celsius:before {content: $celsius;}
.wi-fahrenheit:before {content: $fahrenheit;}
.wi-degrees:before {content: $degrees;}
.wi-thermometer:before {content: $thermometer;}
.wi-thermometer-exterior:before {content: $thermometer-exterior;}
.wi-thermometer-internal:before {content: $thermometer-internal;}
.wi-cloud-down:before {content: $cloud-down;}
.wi-cloud-up:before {content: $cloud-up;}
.wi-cloud-refresh:before {content: $cloud-refresh;}
***REDACTED***
