.wi-day-sunny:before {content: $day-sunny;}
.wi-day-cloudy:before {content: $day-cloudy;}
.wi-day-cloudy-gusts:before {content: $day-cloudy-gusts;}
.wi-day-cloudy-windy:before {content: $day-cloudy-windy;}
.wi-day-fog:before {content: $day-fog;}
.wi-day-hail:before {content: $day-hail;}
.wi-day-haze:before {content: $day-haze;}
.wi-day-lightning:before {content: $day-lightning;}
.wi-day-rain:before {content: $day-rain;}
.wi-day-rain-mix:before {content: $day-rain-mix;}
***REDACTED***
