.wi-moon-new:before {content: $moon-new;}
.wi-moon-waxing-crescent-1:before {content: $moon-waxing-crescent-1;}
.wi-moon-waxing-crescent-2:before {content: $moon-waxing-crescent-2;}
.wi-moon-waxing-crescent-3:before {content: $moon-waxing-crescent-3;}
.wi-moon-waxing-crescent-4:before {content: $moon-waxing-crescent-4;}
.wi-moon-waxing-crescent-5:before {content: $moon-waxing-crescent-5;}
.wi-moon-waxing-crescent-6:before {content: $moon-waxing-crescent-6;}
.wi-moon-first-quarter:before {content: $moon-first-quarter;}
.wi-moon-waxing-gibbous-1:before {content: $moon-waxing-gibbous-1;}
.wi-moon-waxing-gibbous-2:before {content: $moon-waxing-gibbous-2;}
***REDACTED***
