<div class="content-heading">Coupons
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/coupons/addCoupons'">
        <button class="btn btn-success"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add Coupon</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    Coupons
***REDACTED***
