<ion-header>
  <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content padding class="address-list">
  <!--amount calculation-->
  <!-- <ion-row class="amount-block">
     <ion-col col-6>
         <p class="total"> {{"Order Total:" | translate}} <span class="currency"> ${{orderData.grandTotal | number:'.2-2'}}
         </span></p>
***REDACTED***
