<div class="content-heading ">
    Add New Category
    <small>
        <a [routerLink]=" ['/home'] ">Dashboard</a> ->
        <a [routerLink]="['/categories/manageCategories']"> Manage Categories </a>-> Add Category
    </small>
</div>
<div class="container-md">
    <div class="row">
        <div class="col-md-2"></div>
***REDACTED***
