<!-- <div class="card text-center">
  <div class="form-group row text-center">
    <div class="col-sm-5">
      <h4>Day Scheduler</h4>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-info"><i class="fa fa-plus" name="addMore" (click)="addDaySchedule()"
          aria-hidden="true"></i>
      </button>
      <span class="add-more">schedule Next day </span>
***REDACTED***
