<!--Pinning Starts-->
<section id="pinning" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Pinning DataTable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
***REDACTED***
