<template>
  <div class="pt-2">
    <div class="row">
      <div class="flex xs12 md6">
        <div class="title text-dark mb-3">
          {{$t('dashboard.tabs.billingAddress.personalInfo')}}
        </div>
        <va-input
          :label="$t('dashboard.tabs.billingAddress.firstName')"
          v-model="form.name"
***REDACTED***
