<ion-header>
    <ion-navbar>
        <ion-title>{{"Settings" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="settings">
    <div *ngIf="!isLoggedin()">
        <ion-row>
            <ion-icon class="empty-cart" name="settings"></ion-icon>
***REDACTED***
