<div class="col-md-8 col-sm-12 mid-col chat-box">

	<div class="chat-header">
		<p class="name">{{username}}</p>
	</div>

	<div class="message" #scrollMe>
		<span *ngFor="let data of chatData">
			<!-- msg right side -->
			<div class="msg-right row" *ngIf="data.sendBy == 'User'">
***REDACTED***
