<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Web Image Uploader</div>
        <div class="panel-body">
          <div class="form-group row">
            <div class="col-md-2">
              <label>Logo</label>
***REDACTED***
