<div class="wrapper">
  <!-- top navbar-->
  <app-header class="topnavbar-wrapper"></app-header>
  <!-- offsidebar-->
  <app-offsidebar class="offsidebar"></app-offsidebar>
  <!-- Main section-->
  <section>
    <!-- Page content-->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
***REDACTED***
