<ion-header>
  <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content class="cart animated slideInDown" padding>
  <div *ngIf="!isCart()">
    <ion-row>
      <ion-icon class="empty-cart" name="cart"></ion-icon>
    </ion-row>
    <h4>{{"Your Cart is empty" | translate}}!</h4>
***REDACTED***
