<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6>Payment Method</h6>
    </div>
    <div class="col-md-9">
      <form [formGroup]="paymentTypeForm" (ngSubmit)="updatePaymentMethod()">
        <md-checkbox color="accent" name="type" formControlName="braintree">Braintree </md-checkbox>
        <br>
        <md-checkbox color="accent" name="type" formControlName="stripe">Stripe</md-checkbox>
***REDACTED***
