<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">
            {{!productId ? ('ADD_NEW_PRODUCT' | translate) : ("UPDATE_PRODUCT" | translate)}}</div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card ">
            <div class="card-header pb-2">
            </div>
            <div class="card-content">
                <div class="px-3">
                    <form class="form" #f="ngForm" (ngSubmit)="checkOperationType()">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="companyName">{{'TITLE' | translate}}</label>
                                <input type="text" id="companyName" class="form-control" name="Enter Product Name"
                                    [(ngModel)]="product.title" #title="ngModel" required>
                                <span class="help-block" *ngIf="title?.touched && title?.errors?.required"
                                    style="color:red">
                                    <small> {{'THIS_FIELD_IS_REQUIRED*' | translate}}</small>
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="projectinput8"> {{'DESCRIPTION' | translate}}</label>
                                <textarea id="projectinput8" rows="5" class="form-control" name="desc"
                                    [(ngModel)]="product.description" #desc="ngModel" required></textarea>
                                <span class="help-block" *ngIf="desc?.touched && desc?.errors?.required"
                                    style="color:red">
                                    <small> {{'THIS_FIELD_IS_REQUIRED*' | translate}}</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="companyName">{{'SKU' | translate}}</label>
                                <input type="text" id="skua" class="form-control" name="Enter sku Name"
                                    [(ngModel)]="product.sku" #skua="ngModel">
                                <span class="help-block" *ngIf="skua?.touched && skua?.errors?.required"
                                    style="color:red">
                                    <small> {{'THIS_FIELD_IS_REQUIRED*' | translate}}</small>
                                </span>
                            </div>

                            <div class="row form-label-group">
                                <div class="col-3">
                                    <label for="inputEmail">{{'SELECT_FILE' | translate}}</label>
                                </div>
                                <div class="col-8">
                                    <div class="mb-4">
                                        <img src="{{imageUrl}}" class="doctors-img img-fluid">
                                    </div>
                                    <button class="btn btn-info button-upload" type="button">
                                        <i class="fa fa-upload" aria-hidden="true"></i> {{"SELECT_FILE" | translate}}
                                    </button>
                                    <input type="file" class="upload file-upload" accept="image/*"
                                        (change)="uploadProductImage($event)" name="image">
                                    <p>{{"IMAGE_800_532" | translate}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'SELECT_CATEGORY' | translate}}</label>
                                <ng-select [items]="categories" [bindValue]="'_id'" [bindLabel]="'title'" name="category"
                                    [(ngModel)]="product.categoryId" required #cat="ngModel"
                                    (change)="changeCategory()"></ng-select>
                                <span class="help-block" *ngIf="cat?.touched && cat?.errors?.required"
                                    style="color:red">
                                    <small> {{'THIS_FIELD_IS_REQUIRED*' | translate}}</small>
                                </span>
                            </div>
                            <div class="form-group" *ngIf="subCategories.length > 0">
                                <label>{{'SUB_CATEGORY' | translate}}</label>
                                <ng-select [items]="subCategories" [bindValue]="'_id'" [bindLabel]="'title'"
                                    name="subCategory" [(ngModel)]="product.subCategoryId" #subcat="ngModel">
                                </ng-select>
                                <span class="help-block" *ngIf="subcat?.touched && subcat?.errors?.required"
                                    style="color:red">
                                    <small> {{'THIS_FIELD_IS_REQUIRED*' | translate}}</small>
                                </span>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row form-label-group" *ngFor="let data of product.variant; let i=index"
                            [attr.data-index]="i">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="companyName">{{'CAPACITY' | translate}}</label>
                                    <input type="text" id="sdasdasd" class="form-control"
                                        [ngModelOptions]="{standalone:true}" name="uni{{i}}" [(ngModel)]="data.unit"
                                        #uni="ngModel" required>
                                    <span class="help-block" *ngIf="uni?.touched && uni?.errors?.required"
                                        style="color:red">
                                        <small>{{'ENTER_CAPACITY' | translate}}</small>
                                    </span>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group">
                                    <label for="companyName">{{'PRICE' | translate}}</label>
                                    <input type="number" id="sadprice" class="form-control"
                                        [ngModelOptions]="{standalone:true}" name="pric{{i}}" min="0"
                                        [(ngModel)]="data.price" #pric="ngModel" required>
                                    <span class="help-block" *ngIf="pric?.touched && pric?.errors?.required"
                                        style="color:red">
                                        <small>{{'ENTER_PRICE' | translate}}</small>
                                    </span>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group">
                                    <label for="companyName">{{'STOCK' | translate}}</label>
                                    <input type="number" id="prfgfgdfice" class="form-control"
                                        [ngModelOptions]="{standalone:true}" min="0" name="prodstock{{i}}"
                                        [(ngModel)]="data.productStock" #prodstock="ngModel" required>
                                    <span class="help-block" *ngIf="prodstock?.touched && prodstock?.errors?.required"
                                        style="color:red">
                                        <small>{{'ENTER_STOCK' | translate}}</small>
                                    </span>
                                </div>
                            </div>


                            <div class="col-1">
                                <div class="col-md-2 added-block" *ngIf="i==0">
                                    <!-- <label for="companyName">Add</label> -->
                                    <button class="btn btn-raised btn-info plus" (click)="addVariant()"
                                        type="button">
                                        <em class="fa fa-plus"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="col-1" *ngIf="i!==0">
                                <div class="col-md-2 added-block">
                                    <!-- <label for="companyName">Delete</label> -->
                                    <button class="btn btn-raised btn-danger danger-button" (click)="removeVariant(i)"
                                        type="button">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-raised btn-raised add-modules mr-2"
                                [disabled]="f.invalid || isDisabled || !product.imageUrl">
                                <i class="fa fa-check-square-o"></i>{{'SUBMIT' | translate}}
                            </button>
                            <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" routerLink="/products">
                                <i class="ft-x"></i> {{'CANCEL' | translate}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>