<div class="content-heading">Orders
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/order/list']"> Orders </a>-> Order Detail
  </small>
</div>
<div class="container">
  <div class="waiting-loader" *ngIf="loading == true">
    <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
  </div>
***REDACTED***
