<!--Extended Table starts-->
<div class="row">
    <div class="col-12">
        <div class="content-header">Extended Tables</div>
        <p class="content-sub-header">Tables with some actions and with more feathers.</p>
    </div>
</div>
<section id="extended">
    <div class="row">
        <div class="col-sm-12">
***REDACTED***
