<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
  <!-- Page Content-->
  <section class="hero-slider style-2">
    <owl-carousel [options]="{items: 1, dots: true, navigation: true}" [items]="slider2" [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let item of slider2">
        <img class="slider-img" src="{{item?.url}}" alt="logo">
        <div class="mask-5"></div>

      </div>
***REDACTED***
