@media screen and (max-width: 760px) {
    .slider-img{
      height: 300px !important;
    }
  }

@media screen and (max-width: 760px) {
    .hero-slider{
     min-height: 300px !important;
    }
***REDACTED***
