.products-block {
  width: 93%;
  /* height: 122px; */
  /* margin-right: 20px; */
  border-radius: 12px;
  background: white;
  img {
    width: 100%;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
***REDACTED***
