<ion-header>
  <ion-navbar>
    <ion-title>Products</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ecommerce-content">
  <ion-grid class="grid">
    <!-- first-row -->
    <ion-row>
      <!-- search box -->
***REDACTED***
