@import '../../../assets/sass/variable';

:host {
  align-items: center;
  background: $footer-bg;
  color: $footer-color;
  display: flex;
  font-size: .8rem;
  height: $module-rem * 4;
  justify-content: space-between;
***REDACTED***
