.setting-color {
  padding: 0 5px;

  > label {
    display: block;
    position: relative;
    margin: 0 10px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
***REDACTED***
