<!--Add Tax-->
<div class="row">
  <div class="col-md-2">

  </div>
  <!--col-->
  <div class="col-md-8">
    <card title="Tax">
      <form [formGroup]="taxForm" (ngSubmit)="updateTax()">
        <div class="row">
***REDACTED***
