.sidebar{
    padding-bottom: 0!important;
    margin-right: -17px;
    // overflow-y: scroll;
    background-color: #383d4e;
    margin-top: 20px;
    .nav{
        li{
            a{
                // padding: 6px !important;
***REDACTED***
