

<a class="list-group-item list-group-item-action" [routerLink]="['/accordion']" data-filter-item="af">Accordion</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/alerts']" data-filter-item="af">Alerts</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/buttons']" data-filter-item="af">Buttons</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/cards']" data-filter-item="af">Cards</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/carousel']" data-filter-item="af">Carousel</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/countdown']" data-filter-item="af">Countdown</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/forms']" data-filter-item="af">Forms</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/gallery']" data-filter-item="gm">Gallery</a>
***REDACTED***
