<ion-header>
  <ion-navbar>
    <ion-title>{{"About Us" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-slides initialSlide=0 speed=2000 loop=true dir="rtl">
***REDACTED***
