<template>
  <div class="row text-center">
    <div class="flex  md12 xs10">
      <va-card title="Orders List">
        <div class="empty-error my-5" v-if="length === 0 && !loading && !isSpinner">
          <b>No Orders !!</b>
        </div>
        <div class="text--center pb-4">
          <div class="flex-center spinner-box">
            <orbit-spinner :animation-duration="1200" :size="55" color="rgb(64, 229, 131)" v-if="isSpinner" />
***REDACTED***
