<template>
  <div class="order-details-page row">

    <div class="flex md12 xs10">
      <div class="text--center pb-4">
        <div class="flex-center spinner-box">
          <orbit-spinner :animation-duration="1200" :size="55" color="rgb(64, 229, 131)"
                         v-if="this.orderData.cart.cart === undefined || orderData === ''"/>
        </div>
      </div>
***REDACTED***
