.auth-page {
  .form-control {
    padding-right: 3.5rem;
    height: 58px;
    background: $light-blue;
    border-radius: 5px;
    border: none;
    &:focus {
      box-shadow: none;
      border: 1px solid $primary;
***REDACTED***
