@font-face {
  font-family: "BarlowBold";
  src: url("~src/assets/fonts/Barlow-Bold.ttf");
}

@font-face {
  font-family: "Barlowlight";
  src: url("~src/assets/fonts/Barlow-Light.ttf");
}

***REDACTED***
