.footer-section {
  background-color: #e3e3e3;
  padding: 14px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  @media screen and (max-width: 568px) {
    position: initial;
    bottom: none;
***REDACTED***
