.header-section {
  .header-block {
    background: #f5f7f9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    padding: 20px;
    position: fixed;
    z-index: 9999;
  }
  .form-control {
***REDACTED***
