.my-store {
  .side-menu {
    border-right: 2px solid lightgray;
    //   padding-left: 3rem;
  }
  .search {
    // top: 21px;
    // left: 23px;
    // width: 22px;
    background: white;
***REDACTED***
