.profile-block {
  .profile-img {
    img {
      border-radius: 27px;
    }
    height: 158px;
    width: 160px;
    border: 1px solid #ffffff;
    border-radius: 27px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
***REDACTED***
