.rating-section {
  .side-menu {
    border-right: 2px solid lightgray;
    //   padding-left: 3rem;
  }
  .feedback-block {
    background-color: white;
    border-radius: 8px;
    height: 480px;
    .custom-textarea {
***REDACTED***
