.side-menu-page {
  // position: fixed;
  @media screen and (max-width: 1400px) {
    position: initial;
  }
  @media screen and (max-width: 568px) {
    display: none !important;
  }
  .side-logo {
    width: 200px;
***REDACTED***
