.top-deals-page {
  .side-menu {
    border-right: 2px solid lightgray;
    //   padding-left: 3rem;
  }
  .tops-block {
    background: white;
    width: 100%;
    border-radius: 5px;
    .top-img {
***REDACTED***
