.wallet-section {
  .side-menu {
    border-right: 2px solid lightgray;
    //   padding-left: 3rem;
  }
  .wallet-block {
    background-color: white;
    border-radius: 8px;
    padding: 3rem 0;
    .wallet-img {
***REDACTED***
