<div class="content-heading ">
  View Table Booking
  <small>
    <a [routerLink]=" ['/home'] ">Home -></a>
    <a [routerLink]="['/booking/all']">Manage Table Booking </a>->View Table Booking
  </small>
</div>
<h5 class="booking">BOOKING INFORMATION</h5>
<div class="row">
  <div class="col-masonry col-md-12">
***REDACTED***
