<ion-header>
  <ion-navbar>
    <ion-title>Booking History</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="card_content" *ngFor="let item of bookingDetails; let i=index;">
    <ion-list class="overlay_top">
      
      <h2 class="id" padding> <ion-icon name="cafe"></ion-icon> &nbsp; Booking History : {{i+1}}</h2>
***REDACTED***
