
<div class="row" matchHeight="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 4.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h5 class="my-2">01-26-2018 [4.0]</h5>
***REDACTED***
