<ion-header>
  <ion-toolbar color="primary" hideBackButton="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"LOGIN" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-login">
***REDACTED***
