<div *ngIf="activeAddBlock">
  <!-- Add PIN -->
  <div class="content-heading"> Add PIN
    <small>
      <a [routerLink]=" ['/home'] ">Dashboard</a> ->
      <a [routerLink]="['/delivery']"> Delivery Options </a>-> Add Delivery Pin
    </small>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
***REDACTED***
