<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{isUpdateMode? 'Update Advrtisement': 'Add Advertisement' }}</h4>
      </div>
      <form #f="ngForm" (ngSubmit)="onSaveAD()">
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
***REDACTED***
