<div class="content-heading">View Testimonials
 <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
        <a [routerLink]="['/testimonials/manageTestimonials']"> Manage Testimonials </a>->
            View Testimonials
 </small>
 </div>
<div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
            </div>
***REDACTED***
