<div class="content-heading ">
  Add Restaurant
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> ->
    <a [routerLink]="['/restaurant/manageRestaurant']"> Restaurant Detail </a>-> Add Restaurant
  </small>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-md-1"></div>
***REDACTED***
