<div class="container-fluid header-section">
  <div class="">
    <div class="row">
      <div class="col-md-12 header-block">
        <div class="row">
          <div class="col-md-2 pointer" [routerLink]="['/home']">
            <img src="assets/images/webapp.png" class="logo-top img-fluid"/>
          </div>
          <div class="col-md-2 lang-select" *ngIf="isLoggedIn">
            <select class="form-control w-100 barlow-medium color-b-b" [(ngModel)]="languageCode"
***REDACTED***
