@import "scss/variables.scss";

.side-menu {
  background-color: #fdfdfd;
  background-image: linear-gradient(
    135deg,
    rgb(48, 105, 99) 19%,
    rgb(24, 68, 64) 70%
  );
  position: fixed;
***REDACTED***
