<ion-header>
  <ion-navbar>
    <ion-title>Check out</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="ecommerce-content checkout">
  <form>
    <ion-list class="address">

***REDACTED***
