.ecommerce-content {
   
    .grid {
        .searchbar-input {
           border-radius: 0px !important; 
      }
       .overlay {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        display: flex;
        img{
***REDACTED***
