.event-content{
	// event segment style
    .segment-button {
        border-radius: 0!important;
        border: 0;
        border-bottom: 1px solid $black-d!important;
        font-size: 17px;
        font-weight: 500;
        padding-top: 12px;
        height: 3em;
***REDACTED***
