.sidebar-menu{
  background-image:url("../assets/images/menu-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bar-button-default, .bar-button-clear-default, .bar-button-default {
  color: $white;
  background-color: transparent;
}
***REDACTED***
