.order-img {
  height: 140px;
  width: 100%;
  border-radius: 5px;
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  img {
    height: 117px;
    width: 100%;
    border-radius: 5px;
  }
***REDACTED***
