<div class="container-fluid">
  <div class="main-wrapper pb-4 mb-5">
    <div class="row p-4">
      <div class="col-md-12">
        <form class="form-group" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group row banner">
            <div class="col-md-4 text-center">
              <img class="img-fluid notfound" [src]="url">
              <!-- <div class="panel-body mh0 fileUpload btn btn-primary choose-btn">
                <span> <i class="fa fa-upload" aria-hidden="true"></i> &nbsp; Select Image</span>
***REDACTED***
