<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<card title="Add-Products">
    <form (ngSubmit)="onSaveProduct(f)" #f="ngForm">
        <div class="row">
            <div class="col-md-6">
                <md-input-container class="md-icon-left">
                    <md-icon>edit</md-icon>
                    <input mdInput placeholder="Title" name="title" id="title" [(ngModel)]="products.title" required>
                </md-input-container>
***REDACTED***
