<div class="row">
  <div class="col-md-12">
    <div class="row side side-menu-page">
      <div class="col-md-12 pl-0">
        <app-header-component></app-header-component>

        <div class="categories">
          <div class="row">
            <div class="col-md-12 side-menu-width">
              <br />
***REDACTED***
