<div class="breadcrumb-wrap">
  <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>{{menuName.title}}</h1>
    <h6>Hello there, you'll find here what you really want to taste..</h6>
  </div>
</div>

***REDACTED***
