<div class="breadcrumb-wrap">
  <img src="assets/img/chekout-bg.png" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>Checkout</h1>
    <h6>chekout or shop more...</h6>
  </div>
</div>

***REDACTED***
