<section id="datepicker">
  <div class="row">
    <div class="col-sm-12">
     <div class="content-header">Datepicker</div>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Simple datepicker starts-->
    <div class="col-md-12 col-lg-6">
      <div class="card">
***REDACTED***
