<ion-header>
  <ion-navbar>
    <ion-title>Product-Review</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ecommerce-content">

  <!-- segment for product review and details -->

***REDACTED***
