<h4 class="text-bold-400">Order Information</h4>
<a (click)="goToInvoicePage()">
  <button class="btn btn-raised btn-success  custom-pointer" type="button">
    View Invoice
  </button>
</a>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
***REDACTED***
