<ion-header>
  <ion-navbar>
    <ion-title>{{"Payment" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="payment-page">
  <ion-list radio-group class="radio-list">
    <p class="card-title">{{"Payment Options" | translate}}</p>
***REDACTED***
