<ion-header>
  <ion-navbar>
    <ion-title>{{'Offers' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="full-slide">
    <!-- first row -->
    <ion-slides initialSlide=0 speed=1000 loop=true>
***REDACTED***
