//
// Blog Styles
// --------------------------------------------------

// Post meta
.post-meta {
  display: block;
  margin-bottom: $grid-vertical-step;
  padding: 0;
  border: 1px solid $border-color;
***REDACTED***
