<!--Sorting DataTable Starts-->
<section id="sorting" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Sorting DataTable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
***REDACTED***
