<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">
            {{ !subCategoryId ? ("ADD_SUB_CATEGORY" | translate) : ("EDIT_SUB_CATEGORY" | translate) }}
        </div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header pb-2"></div>
            <div class="card-content">
                <div class="px-3">
                    <form class="form" (ngSubmit)="checkOperationType()" #subCategoryForm="ngForm">
                        <div class="form-body">
                            <div class="form-group">
                                <label>{{"TITLE" | translate}}</label>
                                <input type="text" class="form-control" name="title" [(ngModel)]="subCategory.title"
                                       required #title="ngModel"/>
                                <span class="help-block" *ngIf="title?.touched && title?.errors?.required">
                                    <small>{{"THIS_FIELD_IS_REQUIRED*" | translate}}</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>{{"DESCRIPTION" | translate}}</label>
                                <textarea class="form-control" rows="3" name="description"
                                          [(ngModel)]="subCategory.description" required #desc="ngModel"></textarea>
                                <span class="help-block" *ngIf="desc?.touched && desc?.errors?.required">
                                    <small class="text-danger">{{"THIS_FIELD_IS_REQUIRED*" | translate}}</small>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>{{"CATEGORY" | translate}}</label>
                                <select class="form-control" name="category" [(ngModel)]="subCategory.categoryId"
                                        required #category="ngModel">
                                    <option disabled>{{"CATEGORY" | translate}}</option>
                                    <option *ngFor="let category of categories"
                                            [value]="category._id">{{category.title}}</option>
                                </select>
                                <span class="help-block" *ngIf="category?.touched && category?.errors?.required">
                                    <small>{{"THIS_FIELD_IS_REQUIRED*" | translate}}</small>
                                </span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn btn-raised btn-raised add-modules mr-2"
                                    [disabled]="subCategoryForm.invalid">
                                <i class="fa fa-check-square-o"></i> {{"SUBMIT" | translate}}
                            </button>
                            <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" routerLink="/sub-category">
                                <i class="ft-x"></i> {{"CANCEL" | translate}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
