<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="news"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'News-details'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="page-news-detail">
***REDACTED***
