<div class="content-heading ">
  Push Notification
</div>
<div class="container-md">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="panel b">
        <div class="panel-heading  text-bold bg-purple-dark">Send Notification</div>
        <div class="panel-body">
***REDACTED***
