.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
    overflow: hidden;
}

.carousel, .carousel-multi-item, .carousel-thumbnails {
    outline: none;
}

.carousel-fade .carousel-inner .carousel-item {
***REDACTED***
