//input disabled
.disabled {
    cursor: not-allowed!important;
}


//input counter
.counter-danger {
	border-bottom: 1px solid #F44336 !important;
	box-shadow: 0 1px 0 0 #F44336 !important;
***REDACTED***
