@media (min-width: 1200px) {
    .navbar.navbar-expand-xl {
        links, navlinks {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

***REDACTED***
