<div class="completer-holder md-form" mdbCompleter>
  
  <input #mdbInput [attr.id]="inputId.length > 0 ? inputId : null" type="search" class="completer-input form-control mdb-autocomplete" mdbInput [ngClass]="inputClass" 
    [(ngModel)]="searchStr" (ngModelChange)="onChange($event)" [attr.name]="inputName" [placeholder]="placeholder"
    [attr.maxlength]="maxChars" [tabindex]="fieldTabindex" [disabled]="disableInput" 
    [clearSelected]="clearSelected" [clearUnselected]="clearUnselected"
    [overrideSuggested]="overrideSuggested" [openOnFocus]="openOnFocus" [fillHighlighted]="fillHighlighted" 
    (blur)="onBlur()" (focus)="onFocus()" (keyup)="onKeyup($event)" (keydown)="onKeydown($event)"
    autocomplete="off" autocorrect="off" autocapitalize="off" />
  <label [ngClass]="{'active': focused}">{{ label }}</label>
***REDACTED***
