<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<!-- <div class="col-md-3"></div> -->
<card title="Update-Category">
  <form (ngSubmit)="onUpdateCategory(f)" #f="ngForm">
    <div class="row">
      <md-input-container class="md-icon-left">
        <md-icon>perm_identity</md-icon>
        <input mdInput placeholder="Title" name="title" id="title" [(ngModel)]="categories.title">
      </md-input-container>
***REDACTED***
