<template>
  <div class="product-details-page row">
    <div class="flex md6 xs10">
      <va-card overlay titleOnImage :image="productData.imageUrl" :title="productData.title">
        <div class="text--center pb-4">
          <div class="flex-center spinner-box">
            <orbit-spinner :animation-duration="1200" :size="55" color="rgb(64, 229, 131)" v-if="loading" />
          </div>

        </div>
***REDACTED***
