<div class="content-heading"> Edit Currency
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/currencies/all']"> Currency </a>-> Update Currency
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
***REDACTED***
