.#{$wi-css-prefix}-wmo4680-0:before,
.#{$wi-css-prefix}-wmo4680-00:before       { content: $thermometer           ; }
.#{$wi-css-prefix}-wmo4680-1:before,
.#{$wi-css-prefix}-wmo4680-01:before       { content: $cloudy                ; }
.#{$wi-css-prefix}-wmo4680-2:before,
.#{$wi-css-prefix}-wmo4680-02:before       { content: $thermometer           ; }
.#{$wi-css-prefix}-wmo4680-3:before,
.#{$wi-css-prefix}-wmo4680-03:before       { content: $cloudy                ; }
.#{$wi-css-prefix}-wmo4680-4:before,
.#{$wi-css-prefix}-wmo4680-04:before       { content: $fog                   ; }
***REDACTED***
