<div class="content-heading">View News
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/news/list']"> Manage News </a>->
    View News
  </small>
</div>
<div class="col-masonry container">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
***REDACTED***
