<!--Calendar Starts-->
<section id="calendar">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Calendar</div>
			<p class="content-sub-header">This is the most advanced example having various features. This
				example lists all the events on the calendar with Add new event functionality.</p>
		</div>
	</div>
	<ng-template #modalContent let-close="close">
***REDACTED***
