<div class="row">
  <div class="col text-primary">
    <h2>{{ "DELIVERY_BOYS" | translate }}</h2>
  </div>
  <div class="col">
    <!--Multiple buttons Starts-->
    <section id="multiple-buttons">
      <div class="row text-left">
        <div class="col-sm-12 pull-right">
          <div class="row">
***REDACTED***
