<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Text Utilities</div>
    </div>
</div>
<!-- Contextual colors -->
<section id="contextual-colors" class="card">
    <div class="card-header">
        <h4 class="card-title">Contextual colors</h4>
        <p>Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.</p>
***REDACTED***
