<ion-header>
  <ion-navbar>
    <ion-title>{{"Blog" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="blog-detail_content" *ngIf="blogDetails.images">
  <img class="top-image" src="{{blogDetails.images}}">
  <ion-fab top right edge class="fab-icon">
    <button ion-fab mini class="my-fab">
      <ion-icon name="share"></ion-icon>
***REDACTED***
