page-order-details {

  .card-title{
    position: absolute;
      font-size: 2.0em;
      width: 100%;
      color: #fff;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 3px;
***REDACTED***
