page-table-booking {
  .content-wrap {
    background: url("../assets/img/bg.jpg") no-repeat center;
    background-size: cover;
    color: $white;
  }

  .side-headline {
    font-size: 16px;
    color: #def1de;
***REDACTED***
