.ngx-datatable.material {
  .datatable-header {
    background: main-color(100);
    font-size: 1.2rem;

    .resize-handle {
      border-right-color: rgba(#fff,.2);
    }
    .datatable-header-cell {
      color: main-contrast(100);
***REDACTED***
