<div class="content-heading">View Category
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/categories/manageCategories']"> Categories </a>->
    View Category
  </small>
</div>
<div class="col-masonry">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
***REDACTED***
