.page-checkout {
     background-image: url(assets/img/address-bg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    .card-title{
     text-align: center;
     font-size: 18px;
     font-weight: 600;
     color: $white;
***REDACTED***
