.page-favourite {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
    p{
      color: $grey;
      margin: 0;
      font-size: 14px;
    }
***REDACTED***
