.page-product-list {
    p{
        margin: 0;
    }
    .item {
      padding-left: 7px;
      border-bottom: 2px solid #d5d5d5;
      margin-bottom: 2rem;
      .label {
        margin: 9px 0px 0px 0px;
***REDACTED***
