<div class="content-heading ">
  Update News
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> ->
    <a [routerLink]="['/news/manageNews']"> Manage News </a>-> Update News
  </small>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-md-2"></div>
***REDACTED***
