@import '../../../../assets/sass/variable';

:host {
  background: url(../../../../assets/content/login_bg.png) 50% 50% no-repeat;
  background-size: cover;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;

***REDACTED***
