<card [title]="'Create your account'" [align]="'center'">
    <form (ngSubmit)="onSubmit()">
        <md-input-container>
            <input mdInput placeholder="Email address" value="">
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Password" value="">
        </md-input-container>

***REDACTED***
