<ion-header>
  <ion-navbar>
    <ion-title text-center>Ethen Hunt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="social-content">
  <div class="profile-header">
    <div class="bg-overlay"></div><!-- bg-overlay -->
    <img src="assets/images/profile-bg2.jpg" class="profile-bg-img">
***REDACTED***
