

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= appName%></title>

    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
***REDACTED***
