<div class="thank-you">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 text-center mt-5">
        <img src="assets/images/thankyou.png" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
***REDACTED***
