<div class="row">
  <div class="col">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Customer Details</h4>
          <hr>
        </div>
        <div class="card-body">
          <div class="card-block">
***REDACTED***
