<div class="wrapper">
  <div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
        <a href="#">
          <img class="block-center img-rounded img-responsive" src="assets/img/logo.png" alt="Image"/>
        </a>
      </div>
      <div class="panel-body">
***REDACTED***
