page-forgot-password {
  .btn-log-in {
    backgroung-color: $primary;
  }
  .item {
    background-color: rgba(119, 119, 119, 0.8);
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
***REDACTED***
