<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'FORGOT PASSWORD' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login">
***REDACTED***
