<!--Accordion Starts-->
<section id="accordion">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Accordion</div>
      <p class="content-sub-header"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
***REDACTED***
