@import 'main';

// Colors
$ps-border-radius: 3px !default;

$ps-rail-default-opacity: 0.3 !default;
$ps-rail-container-hover-opacity: 0.4 !default;
$ps-rail-hover-opacity: 0.5 !default;

//light
***REDACTED***
