<!--Theme customizer Starts-->
<div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-sm-none d-md-block open">
	<a class="customizer-close">
		<i class="ft-x font-medium-3"></i>
	</a>
	<a class="customizer-toggle bg-danger" id="customizer-toggle-icon">
		<i class="ft-settings font-medium-4 fa fa-spin white align-middle"></i>
	</a>
	<div class="customizer-content p-3 ps-container ps-theme-dark" data-ps-id="df6a5ce4-a175-9172-4402-dabd98fc9c0a">
		<h4 class="text-uppercase mb-0 text-bold-400">Theme Customizer</h4>
***REDACTED***
