<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<card title="User Detail">
	<div class="row">
		<div class="col-md-6">
			<label>Name : </label>&nbsp;{{user.name}}
			<br/>
			<label>Contact Number : </label>&nbsp;{{user.contactNumber}}
			<br/>
			<label>Address :</label>&nbsp; {{user.address}}
***REDACTED***
