page-cart {

 .bg {
  background-image: url(../assets/img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .price-details {
    display: flex;
***REDACTED***
