<template>
  <div class="category-page row text-center">
    <div class="flex md12 xs10">

      <va-card class="text-title" title="Category List">

        <router-link to="/category">
          <va-button class="mb-4">Add Category</va-button>
        </router-link>
        <div class="empty-error my-5" v-if="length === 0 && !loading && !isSpinner">
***REDACTED***
