<div class="wrapper">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Update Product</h4>
        </div>
        <form (ngSubmit)="onUpdateForm(f)" #f="ngForm">
          <div class="card-body">
            <div class="card-block">
***REDACTED***
