<!--Selection DataTable Starts-->
<section id="selection" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Selection DataTable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ngx-datatable class="bootstrap selection-cell" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50"
***REDACTED***
