<!-- Off-Canvas Wrapper-->
  <div class="offcanvas-wrapper">
    <!-- Page Title-->
    <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>Search Results for: Lorem ipsum</h1>
        </div>
        <div class="column">
        </div>
***REDACTED***
