<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Knowledge Base</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Apex template Knowledge Base starts -->
<section id="kb">
  <div class="row">
    <div class="col-xl-4 col-lg-12">
***REDACTED***
