<ion-header>
    <ion-navbar>
        <ion-title class="title">{{"Payment Options" |translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list radio-group class="radio-list">
        <p class="card-title">Payment Options</p>
***REDACTED***
