<div class="breadcrumb-wrap">
	<img src="assets/img/breadcrumbbg.jpg" class="bg-img">
	<div class="overlay-bg"></div>

	<div class="overlay-content">
		<h1>Menu</h1>
		<h6>Hello, are you ready to taste something new ?</h6>
	</div>
</div>

***REDACTED***
