<template>
  <div class="deal-details-page row">
    <div class="flex  md12 xs10">

      <va-card>
        <div class="row">
          <div class="flex xs12 sm4">
            <va-card class="mb-4" color="success">
              <p class="display-2 mb-0" style="color: white">{{this.dealsData.category.title}}</p>
              <p>Category</p>
***REDACTED***
