
<template>
  <div class="row">
    <div class="flex md12 xs10">
      <va-card>
        <h6 class="text-center">{{!this.isEdit ? 'ADD DEAL' : 'EDIT DEAL'}}</h6>
        <div class="text--center pb-4 mt-5">
          <div class="flex-center spinner-box">
            <orbit-spinner
              :animation-duration="1200"
***REDACTED***
