<!--Lock Screen Starts-->
<section id="lock-screen">
    <div class="container-fluid gradient-crystal-clear">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card width-400">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card-title font-medium-5 pt-2 ml-2">Peter Andil</div>
                        </div>
***REDACTED***
