<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6 text-right">

    <button class="custom-button-add" md-raised-button color="accent" type="button" (click)="addCoupon()">
      <em class="fa fa-plus">&nbsp;&nbsp;</em>Add Coupon
    </button>
  </div>
  <!--col-->
***REDACTED***
