//
// Alert
// --------------------------------------------------

// Base class
.alert {
  position: relative;
  padding: $grid-vertical-step;
  border: 5px solid transparent;
  border-radius: $border-radius-base;
***REDACTED***
