//
// Carousel (based on OWL Carousel Plugin)
// --------------------------------------------------

// Base class
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
***REDACTED***
