//
// Comments
// --------------------------------------------------

.comment {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: ($comment-author-ava-size + 16);
  .comment-author-ava {
***REDACTED***
