//
// Dropdown
// --------------------------------------------------

.dropdown-menu {
  border: {
    color: $border-color;
    radius: $border-radius-base;
  }
  font-size: $nav-link-font-size;
***REDACTED***
