//
// Forms
// --------------------------------------------------

.form-control {
  padding: 0 18px 3px;
  border: 1px solid darken($border-color, 2%);
  border-radius: ceil($input-height / 2);
  background-color: $white-color;
  color: $gray-dark;
***REDACTED***
