//
// List Group
// ----------------------------------------------------

.list-group-item {
  border-color: $border-color;
  background-color: $white-color;
  text-decoration: none;
  &:first-child {
    border-top-left-radius: $border-radius-lg;
***REDACTED***
