//
// Pagination + Post Navigation
// --------------------------------------------------

// Pagination
.pagination {
  display: table;
  width: 100%;
  border-top: 1px solid $border-color;
  > .column {
***REDACTED***
