<ion-header>
  <ion-navbar>
    <ion-title>layouts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button menuClose class="menu-item" ion-item (click)="navEventPage()">
***REDACTED***
