<div class="content-heading">
    Dashboard
    <small>WELCOME !</small>
</div>
<!-- START widgets box-->
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-primary">
            <div class="row row-table">
***REDACTED***
