page-contact {
  .contact {
    background: url("../assets/img/c3.jpg") no-repeat center;
    background-size: cover;
  }
  .contact-head {
    margin-top: 2em;
    text-align: center;
    color: $white;
    font-size: 2.5rem;
***REDACTED***
