<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content class="category-content animated slideInUp">
    <div class="search-box">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </div>
    <div class="header">
        <!-- bg img -->
***REDACTED***
