ss<div class="breadcrumb-wrap">
    <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>Recent News/Post</h1>
        <h6>Hello there, Read what is new for you.</h6>
    </div>
</div>

***REDACTED***
