<ion-header>
  <ion-navbar>
    <ion-title>{{"Submit New Ticket" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ticket-form">
  <p padding-left>{{"We normally respond tickets within 2 business days" | translate}}.</p>
  <form (ngSubmit)="onSubmitTicket()" #f="ngForm">
    <ion-list class="input_forms">
      <div class="form-group">
***REDACTED***
