<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" sidebar-anyclick-close="" [class.show-scrollbar]="settings.layout.asideScrollbar">

        <!-- START sidebar nav-->
        <ul class="nav">

            <!-- START user info-->
            <!-- <li class="has-user-block">
                <app-userblock></app-userblock>
***REDACTED***
