<ion-navbar>
  <button *ngIf="header_data.ismenu" ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="searchBarVisible" [ngClass]="{'ishome-title': header_data.ishome,'ismeun-centre': !header_data.ishome}">
    {{header_data.title}}
  </ion-title>

  <ion-searchbar *ngIf="!searchBarVisible && header_data.isSearch"></ion-searchbar>
  <ion-buttons end>
***REDACTED***
