<div class="content-heading">View Menu Item
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/menu/list']"> Menu Items </a>->
    View Menu Item
  </small>
</div>

<div class="col-masonry container">
  <div class="panel b m0">
    <div class="panel-heading">
***REDACTED***
