<div class="row">
    <div class="col text-primary">
        <h2>{{ "USERS" | translate }}</h2>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<!--table starts-->
<section id="ng-tables">
    <div class="row text-left">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form>
                            <section id="striped-light">
                                <div class="row text-left">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="form-group form-inline">
                                                        <input class="form-control searchinput filterSearch" type="text" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" name="searchUser" #searchUser />
                                                    </div>
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>{{ "NAME" | translate }}</th>
                                                            <th>{{ "EMAIL" | translate }}</th>
                                                            <th>{{ "MOBILE_NUMBER" | translate }}</th>
                                                            <th>{{ "REGISTRATION_DATE" | translate }}</th>
                                                            <th>{{ "STATUS" | translate }}</th>
                                                        </tr>
                                                        </thead>
                                                        <!-- <tbody>
                                                          <td colspan="12">
                                                            <div class="no-data mt-2">
                                                              <h4 class="text-center">
                                                                There is no data to display!
                                                              </h4>
                                                            </div>
                                                          </td>
                                                        </tbody> -->
                                                        <tbody>
                                                        <tr *ngFor=" let list of users | paginate: {itemsPerPage: limit,
                                                        currentPage: page, totalItems: total }; let i = index ">
                                                            <td>{{ list.firstName }}</td>
                                                            <td>{{ list.email }}</td>
                                                            <td>{{ list.mobileNumber }}</td>
                                                            <td>{{ list.createdAt | date }}</td>
                                                            <td>
                                                                <ui-switch
                                                                        (change)="updateStatus($event, list._id)"
                                                                        [checked]="list.status"
                                                                ></ui-switch>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="d-flex justify-content-between p-2" *ngIf="total > 0">
                                                    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
