<div class="container-fluid"> <!-- Heading container -->
  <div class="row">
    <div class="col-md-6">
      <h4> All Product</h4>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="'/products/add'">
        <button type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Add Product
        </button>
      </a>
***REDACTED***
