<div class="row">
    <div class="col-sm-12">
        <div class="content-header">NGX Wizard</div>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <div class="board">
***REDACTED***
