/* ========================================================================
   Component: layout-extra
 ========================================================================== */


// Hide footer and expand content to the bottom
.hidden-footer {
  .wrapper > footer {
    display: none;
  }
***REDACTED***
