<!-- Progress Bar Starts-->
<section id="basic-progress">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Progress Bars</div>
        </div>
    </div>
    <div class="row">
        <!--Contextual progress bars Starts-->
        <div class="col-12">
***REDACTED***
