// Base Variables
$wi-path:                        "../../assets/fonts/weathericons" !default;
$wi-version:                     "2.0" !default;
$wi-css-prefix:                  wi !default;
$wi-font-family:                 weathericons !default;

@font-face {
    font-family: '#{$wi-font-family}';
    src: url('#{$wi-path}/#{$wi-font-family}-regular-webfont.eot');
    src: url('#{$wi-path}/#{$wi-font-family}-regular-webfont.eot?#iefix') format('embedded-opentype'),
***REDACTED***
