<div class="content-heading ">View Category
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/categories/list']"> Categories </a>->
    View Category
  </small>
</div>

<div class="col-masonry container">
  <div class="panel b m0">
    <div class="panel-heading">
***REDACTED***
