<div class="container">
  <div class="user-name">
    <!-- Chat Header -->
    <div class="row">
      <!-- <div class="col-md-4 p-0 search-box">
        <i class="fa fa-search search-logo ml-2" aria-hidden="true"></i>
        <div class="input-group" *ngIf='userRole =="Owner" '>
          <input type="text" class="form-control" placeholder="Search Manager" aria-label="Username" (keyup)="searchManagerChat()"
            [(ngModel)]="searchManagerName" name='searchManagerName' aria-describedby="basic-addon1" class="search">
          <i *ngIf="activateSearch === true" class="fa fa-spinner  fa-spin loading" aria-hidden="true"></i>
***REDACTED***
