<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<card [title]="'Setting'" class="mb-0">
	<md-tab-group>
		<md-tab>
			<ng-template md-tab-label>
				<md-icon color="accent">build</md-icon>
				Update Password
			</ng-template>
			<h4>Change Password</h4>
***REDACTED***
