<div class="home-content">
  <div class="banner">
    <img src="assets/img/banner.jpg" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
      <h5>Hello, are you ready to start now ?</h5>
      <h1>Delicate &amp; Gustable</h1>
      <button class="btn" [routerLink]="['/menu']">
        Discover menu
***REDACTED***
