<ion-header>
  <ion-navbar>
    <ion-title>Team Member Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="about-content">
  <div class="member-details">
    <!-- big image -->
***REDACTED***
