<ion-header>
  <ion-navbar>
    <ion-title>Functions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- <button menuClose class="menu-item" ion-item (click)="facebookLogin()">
***REDACTED***
