<div class="content-heading">View Users
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/users/list']"> Manage Users </a>->
    View User
  </small>
</div>
<div class="col-masonry container">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
***REDACTED***
