<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-item-group>
    <ion-item-divider class="divider"><span>Today</span></ion-item-divider>
    <ion-item *ngFor="let notification of notificationList" class="notification-item" (click)="navNotificationDetails(notification.id)">
***REDACTED***
