<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">{{!languageId ? ('ADD_LANGUAGE' | translate) : ('UPDATE_LANGUAGE' | translate)}}</div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header pb-2">
***REDACTED***
