/* ========================================================================
   Component: chart-easypie
 ========================================================================== */

// Makes possible to show the percetage
// centered in the middle of the pie
.easypie-chart {
    display: inline-block;
    position: relative;
    padding: 0 6px;
***REDACTED***
