/* ========================================================================
   Component: code-editor
 ========================================================================== */

$toolbar-hg:                  50px;
$toolbar-bg:                  #fff;
$toolbar-border-color:        $gray;

$codefiles-bg:                $gray-lighter;
$codefiles-border-color:      $gray;
***REDACTED***
