/* ========================================================================
     Component: mailbox
 ========================================================================== */

$mail-box-active-item:          $brand-primary;
$mail-box-hover-item:           #C0D0D3;
$mail-mails-active:             #f7f8f9;


// Mail Navigation
***REDACTED***
