/* ========================================================================
   Component: Plan table
 ========================================================================== */

.plan {
    background-color: $gray-lighter;
    overflow: auto;
    border-radius: $border-radius-base;
    // margin-bottom: 60px;
    padding-bottom: 30px;
***REDACTED***
