// Summernote

.summernote {
    + .note-editor {
        background-image: none !important;
        &.note-frame {
            border-color: $gray-light;
            &.fullscreen {
                margin-top: 0;
                @media only screen and (min-width: $mq-tablet) {
***REDACTED***
