/* ========================================================================
   Component: table-angulargrid
 ========================================================================== */
 
.ag-angle {
    .ag-root {
        border: 1px solid $gray-light;
        // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .ag-cell {
***REDACTED***
