/* ========================================================================
     Component: timeline
 ========================================================================== */
 
$timeline-badge-size:           36px;
$timeline-datetime-height:      20px;
$timeline-separator-width:      120px;

// Timeline container
// --------------------------------
***REDACTED***
