/* ========================================================================
     Component: todo
 ========================================================================== */
.todo {
    .todo-item-list {
        position: relative;
    }
    .todo-item {
        @include transition("color 0.6s, background-color 0.3s");

***REDACTED***
