/* ========================================================================
     Component: user-block
 ========================================================================== */
 
 // for use as navbar item
.has-user-block {
  display: block;
  overflow: hidden;
  border: 0 !important;
  width: 100% !important;
***REDACTED***
