<!--Typeahead Starts-->
<section id="typeahead">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Typeahead</div>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Basic Typeahead Starts-->
    <div class="col-md-12 col-lg-6">
***REDACTED***
