<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"SIGN UP" | translate}}</ion-title>
  </ion-navbar>

</ion-header>

***REDACTED***
