<!-- Form actions layout section start -->
<section id="form-action-layouts">
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Form Actions</div>
        </div>
    </div>
	<div class="row">
	    <div class="col-md-6">
	        <div class="card">
***REDACTED***
