<ion-menu persistent="true" [content]="content" class="menu">
  <ion-content class="sidebar-menu">
    <ion-row>
      <ion-col class="cover"></ion-col>
    </ion-row>
    <ion-row class="img-name-row">
      <ion-col col>
        <img class="user-img" src="assets/images/profile.png">
      </ion-col>
    </ion-row>
***REDACTED***
