<div class="row">
    <div class="col text-primary">
        <h2>{{"NOTIFICATIONS" | translate}}</h2>
    </div>
</div>

<!--table starts-->
<section id="ng-tables">
    <div class="row text-left">
        <div class="col-12">
***REDACTED***
