<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Quill Editor</div>
    <p class="content-sub-header">quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond implementation of ngQuill.</p>
  </div>
</div>
<!-- Default Quill Editor starts -->
<section id="quill-editor">
  <div class="card">
    <div class="card-header">
***REDACTED***
