@font-face {
  font-family: 'Vuestic Icons';
  font-weight: normal;
  font-style: normal;
  src: url('./../sass/icon-fonts/vuestic-icons/vuestic-icons.eot');
  src: url('./../sass/icon-fonts/vuestic-icons/vuestic-icons.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/vuestic-icons/vuestic-icons.woff') format('woff'),
  url('./../sass/icon-fonts/vuestic-icons/vuestic-icons.ttf') format('truetype'),
  url('./../sass/icon-fonts/vuestic-icons/vuestic-icons.svg#vuestic-icons') format('svg');

***REDACTED***
