<!--Fullscreen DataTable Starts-->
<section id="fullscreen" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Fullscreen DataTable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="height-600">
***REDACTED***
