@import '../../../assets/sass/variable';

:host {
  display: block;
  margin: 0 0 ($module-rem * 2);

  .card-wrap {
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
***REDACTED***
