<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Drag and Drop</div>
    <p class="content-sub-header">Simple angular drag and drop with dragula.</p>
  </div>
</div>
<!-- Drap and Drop Starts -->
<section id="dragndrop">

  <div class="card">
***REDACTED***
