<!--Statistics cards Starts-->

<div class="row no-gutters" id="graph">
  <div class="col-md-2">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="row no-gutters p-1 white">
          <div class="col-md-9">
            <p>Restaurant</p>
            <h3 class="font-large-1 mb-0">{{graphData?.ownercount}}</h3>
***REDACTED***
