<template>
  <form @submit.prevent="onsubmit">
    <div class="row mb-2">
      <va-input v-model="email" type="email" :label="$t('auth.email')" :error="!!emailErrors.length" :error-messages="emailErrors" />
    </div>
    <div class="row justify--center">
      <va-button type="submit" class="my-0">Submit</va-button>
    </div>
  </form>
</template>
***REDACTED***
