/* custon file upload */
input[type="file"] {
    display: block;
    color: transparent;
}
.img-thumbnail {
    border:0 !important;
    padding:0;
    border-radius:0;
    }
***REDACTED***
