<ion-header>
    <ion-navbar>
        <ion-title>{{"Add Address" | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-list class="adress-line">
        <form (ngSubmit)="addAddress(f)" #f="ngForm">
            <ion-label class="add-heading">
***REDACTED***
