page-add-address {
  .content {
    background-image: url(../assets/img/address-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .full-address {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 2rem;
***REDACTED***
