<div class="breadcrumb-wrap">
    <img src="assets/img/chekout-bg.png" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>{{'Order History' | translate }}</h1>
        <!-- <h6>Current order and order history...</h6> -->
    </div>
</div>

***REDACTED***
