<!--Footer-->
<footer class="page-footer center-on-small-only">

    <div class="newsletter text-align-center">
        <div class="container">
            <form (ngSubmit)="onSubscribe(g)" #g="ngForm">
                <div class="md-form">
                    <input mdbActive type="email" id="subscribe" name="subscribe" [(ngModel)]="news.email"
                           class="form-control" placeholder="SUBSCRIBE NEWSLETTER" required email>
                </div>
***REDACTED***
