// Login Page

#login {
  background-image: url('assets/img/gallery/login-bg1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
***REDACTED***
