<template>
  <va-topbar
    :minimized="minimized"
  >
    <template slot="menu">
      <template v-for="(item, key) in items">
        <topbar-link-group
          :key="key"
          :minimized="minimized"
          :icon="[ 'sidebar-menu-item-icon vuestic-iconset', item.meta.iconClass ]"
***REDACTED***
