<ion-menu persistent="true" class="menu" [content]="content" *ngIf="this.platform.dir()==='ltr'" side="left">
  <ion-content class="sidebar-menu">
    <ion-row class="img-name-row">
      <ion-col>
        <img class="user-img" src="{{imageUrl}}">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="isLoggedin()">
        <p class="user-name">{{name | uppercase}}</p>
***REDACTED***
