<ion-header>
  <ion-navbar>
    <ion-title>Notifications-Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="notifications-content">
  <ion-card class="notifications-details">
    <ion-item class="header">
***REDACTED***
