<ion-header>
  <ion-navbar>
    <ion-title>{{"Orders" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="order-list">
  <div *ngIf="!isOrders()">
    <ion-row>
***REDACTED***
