<div class="content-heading">Menu Items
  <div class="pull-right">
    <label for="image-input" class="file-upload">
      <a [routerLink]="'/menu/addItems'">
        <button class="btn btn-warning">
          <em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Item</button>
      </a>
    </label>
  </div>
  <small>
***REDACTED***
