<!-- <div class="container">
  <form #f="ngForm" (ngSubmit)="saveSchedule()">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h4>Store Time Setting</h4>
        <div class="row">
          <div class="col-md-6">
            <p>Is your store 24x7 open to take orders?</p>
          </div>
          <div class="col-md-6">
***REDACTED***
