<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Contact' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-contact">
***REDACTED***
