<!-- Personal Tab Form Starts -->
<form #personalForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active">
        <p class="font-medium-2 text-center">{{title}}</p>
        <br/>
        <div class='row'>
            <div class='col-12'>
                <div class="row">
                    <div class='col-12 col-sm-6'>
                        <div class="form-group">
***REDACTED***
