<section id="tags">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Input Tags</div>
      <p class="content-sub-header"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-12">
      <div class="card">
***REDACTED***
