<div class="row">
    <div class="col-12">
        <div class="content-header">Smart Data Table</div>
        <p class="content-sub-header">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</p>
    </div>
</div>
<!--Simple Table Starts-->
<section id="simple">
    <div class="row">
        <div class="col-sm-12">
***REDACTED***
