<div class="content-heading"> Add Tags
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/tags/all']"> Tags </a>->
    New Tag
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
***REDACTED***
