// Forgot Password

#forgot-password {
    .forgot-password-bg {
      background-image: url("../../../assets/img/gallery/login-bg1.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  
    .fg-image {
***REDACTED***
