<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid forgot-password-bg">
        <div class="row full-height-vh m-0  d-flex align-items-center justify-content-center">
            <div class="col-md-7 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body fg-image">
                            <div class="row m-0">
                                <div class="col-lg-6 d-none d-lg-block text-center py-3">
***REDACTED***
