<div class="row">
  <div class="col">
    <div class="col-md-12">
      <div class="card" *ngIf="allOrderData.length > 0">
        <div class="card-header">
          <h4 class="card-title">Filter By</h4>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
***REDACTED***
