<div class="container" *ngIf="order">
    <div class="row">
        <div class="col-sm-6">
            <h5>{{'ORDERS' | translate}}</h5>
            <small>
                <a [routerLink]=" ['/dashboard'] ">{{'DASHBOARD' | translate}}</a> ->
                <a [routerLink]="['/orders']"> {{'ORDERS' | translate}}</a>->{{'ORDER_DETAIL' | translate}}
            </small>
        </div>
        <div class="col-sm-6 pull-right" *ngIf="(order.order.orderStatus === 'DELIVERED' 
***REDACTED***
