<ion-header>
  <ion-navbar>
    <ion-title>call-number</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="call-number" padding>
  <ion-item>
    <ion-label floating> phone number</ion-label>
***REDACTED***
