page-registration {
  .item {
    background-color: rgba(119, 119, 119, 0.8);
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  .item.item-block .item-inner {
    border-bottom: 0;
***REDACTED***
