#user-profile {
  .profile-with-cover {
    .profil-cover-details {
        margin-top: -50px;
        .profile-image {
          img.img-border{
            border: 5px solid #fff;
          }
        }
    }
***REDACTED***
