<!-- Result tab Form starts -->
<div class="tab-pane active">
    <h3 class="head text-center">{{title}}</h3>
    
    <p class="narrow text-center">
        Here is a copy of the information you have entered:
    </p>
    <div class='row'>
        <div class='col-offset-1 col-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
            <div class="row">
***REDACTED***
