<div class="content-heading"> Business User
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> -> Business User
  </small>
</div>

<div class="waiting-loader" *ngIf="loading == true">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>

***REDACTED***
