<!-- Work Tab Form Starts -->
<form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class='row'>
                <div class='col-offset-4 col-10 col-sm-offset-5 col-sm-4'>
                    <div class="form-group">
                        <div class="custom-control custom-radio m-0">
***REDACTED***
