<div class="content-heading">Menu Items
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Table Booking </small>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Booking Details</div>
  <div class="table-responsive b0">
    <table class="table table-striped">
      <thead>
        <tr>
***REDACTED***
