<div class="row">
  <div class="col-sm-12">
    <div class="content-header">FAQs</div>
    <p class="content-sub-header">We're here to help</p>
  </div>
</div>
<!-- faq starts -->
<section id="faq">
  <div class="row">
    <div class="col-12">
***REDACTED***
