<div class="chat-page">
  <div class="chat-container row">


    <div class="user-list col-md-4">

      <div class="search-input">
        <form>
          <input id="search" type="text" placeholder="search" name="siteVal" [(ngModel)]="siteVal" (input)="getChatUser()">
          <i class="fa fa-search"></i>
***REDACTED***
