.chat-page{
.chat-container{
    padding: 1px 0 6px;
    background: #fff;
    padding-bottom: 0;
    height:500px;
    border: 1px solid #ded9d9;
    .user-list{
            background: #fff;
            padding: 0;
***REDACTED***
