<template>
  <div class="deal-page row text-center">
    <div class="flex md12 xs10">
      <va-card title="Users List">
        <!-- <h6 class="text-center">CATEGORY LIST</h6> -->

        <div class="empty-error my-5" v-if="length === 0 && !loading && !isSpinner">
          <b>No Users !!</b>
        </div>
        <div class="text--center pb-4">
***REDACTED***
