<template>
  <div class="user-profile-page">
    <div class="row">
      <div class="flex offset--md2 md2">

        <va-card class="image-card mb-3">
          <div class="circle mb-2">
            <img class="circle-img" v-if="!this.form.profilePic" src="../../assets/icons/user.png">
            <img class="circle-img" v-if="this.form.profilePic" :src="this.form.profilePic"></div>
          <va-file-upload class="upload-btn" type="gallery" file-types=".png, .jpg, .jpeg, .gif" v-model="gallery"
***REDACTED***
