.blog_content {
  background: url('../../assets/img/kid-bg.jpg') no-repeat center;
  background-size: cover;
  background-position-x: 80%;
  .overlay-bg {
    position: fixed;;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.456);
  }
***REDACTED***
