.filter-content {
  .header {
    height: 32em;
    text-align: center;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      border-bottom: 1px solid $white-c;
      padding-top: 22px;
***REDACTED***
