.home-content {
  .slider-wrapper {
    position: relative;
    text-align: center;
    .overlay {
      position: absolute;
      top: 8em;
      width: 100%;
      z-index: 9;
      .text {
***REDACTED***
