.login-content {
  background-image: url("../assets/img/menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  .logo-img {
    width: 11rem;
    height: 11rem;
    margin: 4rem 0 0;
***REDACTED***
