.refine {
  background-image: url("../assets/img/menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    h5 {
      margin: 10px 0 !important;
      background-color: #f4f4f4;
      height: 40px;
      padding: 10px;
***REDACTED***
