// body {
//   &.layout-dark {
//     &.layout-transparent {
//       &.bg-glass-1 {
//         background-image: url("../../assets/img/gallery/bg-glass-1.jpg");
//         background-size: cover;
//         background-size: 100% 100%;
//         background-attachment: fixed;
//         background-position: center;
//         background-repeat: no-repeat;
***REDACTED***
