//Search Navbar
#search-nav {
  .nav {
    border-bottom: 2px solid #e0e0e0;
  }

  .nav-link {
    &.active {
      padding-bottom: 6px;
      border-bottom: 2px solid theme-color('primary');
***REDACTED***
