<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="col-md-12 ">
    <br>
    <br>
    <card title="View Order">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
***REDACTED***
