<div class="chat-page">
    <div class="chat-container row">
        <div class="user-list col-md-4">
            <div class="search-input">
                <!-- <input id="search" type="text" placeholder="search">
                        <i class="fa fa-search"></i> -->
            </div>
            <div class="users">
                <div class="user-list-item">
                    <div id="users-list" class="list-group position-relative">
***REDACTED***
