page-thankyou {
  .page-content {
    background-color: $white !important;
    .thanks {
      text-align: center;
      margin: 0 auto;
      h2 {
        margin-top: 6.8rem;
        font-size: 2.8rem;
        font-weight: 600;
***REDACTED***
