<div class="content-heading">View Restaurant
  <small>
    <a [routerLink]="['/restaurant/manageRestaurant']"> Manage Restaurant </a>-> View Restaurant
  </small>
</div>
<div class="col-masonry">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
***REDACTED***
