<div class="content-heading">View Category
 <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
        <a [routerLink]="['/menu/manageItems']"> Menu Items </a>->
            View Menu Item
 </small>
</div>
<div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
            </div>
***REDACTED***
