<card [title]="'Headers'">
    <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available. <code>.h1</code>
        through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading
        but cannot use the associated HTML element.</p>
    <div class="row">
        <div class="col-md-6">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
***REDACTED***
