<!--Gallery Hover Effect Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Hover Effects</div>
        <p class="content-sub-header">Image gallery grid with 30 subtle hover effect. Try to hover below demo images to show each hover effect.</p>
    </div>
</div>
<section id="hover-effects" class="card">
  <div class="card-body">
    <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
***REDACTED***
