<div class="content-heading">Users Detail
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/users/add'">
        <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New User</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> -> Manage Users</small>
</div>
***REDACTED***
