<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Basic Forms</div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
***REDACTED***
