<div class="content-heading">Global Loyality Setting
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Loyality
  </small>
</div>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <!-- START panel-->
***REDACTED***
