.wi-night-clear:before {content: $night-clear;}
.wi-night-alt-cloudy:before {content: $night-alt-cloudy;}
.wi-night-alt-cloudy-gusts:before {content: $night-alt-cloudy-gusts;}
.wi-night-alt-cloudy-windy:before {content: $night-alt-cloudy-windy;}
.wi-night-alt-hail:before {content: $night-alt-hail;}
.wi-night-alt-lightning:before {content: $night-alt-lightning;}
.wi-night-alt-rain:before {content: $night-alt-rain;}
.wi-night-alt-rain-mix:before {content: $night-alt-rain-mix;}
.wi-night-alt-rain-wind:before {content: $night-alt-rain-wind;}
.wi-night-alt-showers:before {content: $night-alt-showers;}
***REDACTED***
