.wi-moon-0:before {content: $moon-new;}
.wi-moon-1:before {content: $moon-waxing-crescent-1;}
.wi-moon-2:before {content: $moon-waxing-crescent-2;}
.wi-moon-3:before {content: $moon-waxing-crescent-3;}
.wi-moon-4:before {content: $moon-waxing-crescent-4;}
.wi-moon-5:before {content: $moon-waxing-crescent-5;}
.wi-moon-6:before {content: $moon-waxing-crescent-6;}
.wi-moon-7:before {content: $moon-first-quarter;}
.wi-moon-8:before {content: $moon-waxing-gibbous-1;}
.wi-moon-9:before {content: $moon-waxing-gibbous-2;}
***REDACTED***
