<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Shop Categories</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children" *ngFor=" let category of categories">
        <span>
          <a>{{category.categorydata.title}}</a>
***REDACTED***
