<div class="content-heading ">
  Add User
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/users/list']"> Manage Users </a>->
    Add User
  </small>
</div>
<div class="container-md">
  <div class="row">
    <div class="col-md-1"></div>
***REDACTED***
