<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>


<ion-content class="filter-content animated fadeIn">
    <div class="main-wrapper" *ngIf="productDetails">
        <div class="header">

            <!-- bg img -->
***REDACTED***
