@font-face {
  font-family: 'OpenWeb Icons';
  font-style: normal;
  font-weight: normal;
  src: url('./../sass/icon-fonts/openwebicons/openwebicons.eot');
  src: url('./../sass/icon-fonts/openwebicons/openwebicons.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/openwebicons/openwebicons.woff') format('woff'),
  url('./../sass/icon-fonts/openwebicons/openwebicons.ttf') format('truetype'),
  url('./../sass/icon-fonts/openwebicons/openwebicons.svg#openweb_iconsregular') format('svg');
}
***REDACTED***
