<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">
            {{!productId ? ('ADD_NEW_PRODUCT' | translate) : ("UPDATE_PRODUCT" | translate)}}</div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card ">
***REDACTED***
