.chat-page {
  .chat-container {
    padding: 1px 0 6px;
    background: #fff;
    border: 1px solid #bdbdbd;
    padding-bottom: 0;
    .user-list {
      border-right: 1px solid #bdbdbd;
      background: #fff;
      padding: 0;
***REDACTED***
