<div class="chat-page">
  <div class="chat-container row">
    <div class="user-list col-md-4">
      <div class="search-input">
        <input id="search" type="text" placeholder="search" (keyup)="searchChat($event)">
        <i class="fa fa-search"></i>
      </div>
      <div class="users">
        <div class="user-list-item" *ngFor="let user of userlist">
          <div class="row" (click)="goToUserChat(user._id)">
***REDACTED***
