<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="col-md-8 offset-md-2">
    <br><br>
    <card title="Add New Offer">
        <form (ngSubmit)="onSaveOffer(f)" #f="ngForm">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <md-input-container class="md-icon-left">
                        <md-icon>assignment_late</md-icon>
***REDACTED***
