
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
      <!-- Hero-->
      <section class="fw-section padding-top-10x padding-bottom-10x position-relative"
              style="background-image: url(assets/img/hero/home-collection-bg.jpg);">
              <div class="mask-5"></div>
        <div class="container padding-top-2x text-center">
          <h1 class="text-white text-bold mb-3 mt-5">Watch Premium collection</h1>
          <h5 class="text-white text-bold opacity-80 mb-4 mt-3">
***REDACTED***
