.page-booking-history {

    .card_content{
       background: url('assets/img/offer2.jpg') no-repeat center;
       background-size: cover;
       .overlay_top{
           position: relative;
           height: 58px;
           padding: 0 0 0 12px;
           width: 100%;
***REDACTED***
