.page-orders {
    ion-row{
      border-bottom: 1px solid $light-grey;
    }
      .no-order{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .home{
***REDACTED***
