.page-product-details {
    h5{
      font-size: 20px;
      margin-left: 8px;
    }
    .slider {
      img {
        width: 100% !important;
        height: 192px !important;
      }
***REDACTED***
