.page-registration {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $dark;
    color: $white;
    background-size: cover;
    color: $white;
    p{
      color: #fff;
***REDACTED***
