<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">{{ totalPrice | currency:dataInfo.currencyCode:'symbol'}}</h3>
                            <span>{{'TOTAL_EARNINGS' | translate}}</span>
                        </div>
***REDACTED***
