<div class="row">
    <div class="col-md-6 col-xl-3">
        <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
              class="info-card">
            <div class="title text-uppercase">Orders</div>
            <div class="count">{{staticsCounts.ordercount}}</div>
        </card>
    </div>

    <div class="col-md-6 col-xl-3">
***REDACTED***
