<div class="content-heading"> Setting
   <small><a [routerLink]=" ['/home'] ">Dashboard</a> -> Setting</small>
</div>
<div class="row">
   <div class="col-sm-6">
   <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"><strong>Global</strong> Setting</div>
         <div class="panel-body">
            <form role="form" (ngSubmit)="onSubmitSetting(f)" #f="ngForm">
***REDACTED***
