$cloud: "\f041";
$cloudy: "\f013";
$cloudy-gusts: "\f011";
$cloudy-windy: "\f012";
$fog: "\f014";
$hail: "\f015";
$rain: "\f019";
$rain-mix: "\f017";
$rain-wind: "\f018";
$showers: "\f01a";
***REDACTED***
