<div class="row">
  <div class="col">
    <div class="text-right">
      <a [routerLink]="'/location/add'" class="btn btn-raised btn-danger">
        <em class="fa fa-plus">&nbsp;&nbsp;</em>Add Location
      </a>
    </div>
    <!-- Data is loading-->
    <div class="custom-spin" *ngIf="loading">
      <div class="loader"></div>
***REDACTED***
