<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">
            {{ !bannerId ? ("ADD_BANNER" | translate) : ("EDIT_BANNER" | translate)}}</div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
***REDACTED***
