<div class="content-heading"> Add Currency
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/currencies/all']"> Currencies </a>
    New Currencies
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
***REDACTED***
