<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row banner-img">
          <div class="content-heading">Edit Banner Image</div>
          <form #f="ngForm" (ngSubmit)="onSubmitEdit(f)">
            <div class="form-group row">
              <div class="col-md-4">
***REDACTED***
