<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
            &copy; {{currentDate | date: 'yyyy'}} <a href="https://ionicfirebaseapp.com" target="_blank">ionicfirebaseapp.com</a>
        </p>
    </div>
</footer>
<!--Footer Ends-->***REDACTED***
