
<!-- Line Chart Starts -->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Editing Content</div>
        <p class="content-sub-header">Declarative Charting Framework for Angular2 and beyond!</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
***REDACTED***
