/* You can add global styles to this file, and also import other style files */
@import "node_modules/sweetalert2/src/sweetalert2.scss";
@import '../scss/custom';

.double-nav{
    background:#C81912;
}
.footer.page-footer .contact-form .btn{
    background: black!important;
}***REDACTED***
