<div class="content-heading">Orders
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> -> Orders</small>
</div>
<div class="waiting-loader" *ngIf="loading == true">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="panel panel-default" *ngIf="loading == false">
  <div class="panel-heading">Order Details</div>
  <div class="table-responsive b0">
***REDACTED***
