<!-- Sidebar Header starts -->
<div class="sidebar-header">
  <div class="logo clearfix">
    <a [routerLink]="['/']" class="logo-text float-left">


      <div class="logo-img">
        <img src="assets/cmsLogo.png" *ngIf="expanded" class="logo-class" />
        <img src="assets/thumbnail.png" *ngIf="!expanded" class="small-logo-class" />
      </div>
***REDACTED***
