//common for cart page and order history
.cart{
	margin-top: 3.6rem;
	min-height: 20rem;
	.order-date{
		    background: $white-b;
		    padding: 14px 10px;
		    color: $primary;
		    font-weight: 500;
		    font-size: 15px;
***REDACTED***
