footer.page-footer{
	background: $footer-bg;
	padding-top: 0;
	.newsletter{
		background: $primary;
		padding: 24px 0 40px;
		form{
			position: relative;
			margin: 0 auto;
		    width: 30rem;
***REDACTED***
