.form-wrapper{
	margin: -64px 0 -20px 0;
	padding: 74px 0 2rem 0;
	position: relative;
	.bg-img{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    z-index: -2;
***REDACTED***
