.navbar{
  background: transparent;
  padding: 0 9.5rem!important;
  color: $white-a!important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 63px;
  .logo-img{
    width:  3rem;
    height: 3rem;
    margin: 0 10px 0 -20px;
***REDACTED***
