
.home-content {
  min-height: 20rem;
    .banner {
      height: 38rem;
      width: 100%;
      position: relative;
      margin-top: -63px;
      .bg-img {
        position: absolute;
***REDACTED***
