
// edit address modal commmon in account and checkout page
.edit-address-modal{
	.modal-content{
		border-radius: 4px;
	}
	.modal-body{
		height: 28rem;
	    overflow-x: hidden;
	    overflow-y: auto;
***REDACTED***
