.post-content{
  .section-heading{
    margin: 2rem 0 3.2rem!important;
  }
  .post{
    border-bottom: 1px solid $white-b;
    margin-bottom: 2.8rem;
    padding-bottom: 1.7rem;
    img{
      width: 86%;
***REDACTED***
