	// all prodcut section common in home page
	.all-product{
	min-height: 30rem;
		.row.header{
			margin:5rem 0;
			padding-bottom: 1.4rem;
			border-bottom: 1px solid $white-b;
			p{
				color: $black-d;
				font-weight: 400;
***REDACTED***
