.thanks-content{
	text-align: center;
	background: $black-a url('../src/assets/img/thankyou-bg.jpg') no-repeat center;
	background-size: cover;
	min-height: 42rem;
	height: 100%;
	margin: -66px 0 -19px;
	position: relative;
	padding: 5rem 0 3rem;
	.wrapper{
***REDACTED***
