
    // custom color variables

    $primary: #3bc157;
    $footer-bg:#242424;
    $gray			: 	#555;
    $gray-light		: 	lighten($gray, 25%);
    $gray-lighter	: 	lighten($gray, 35%);

    $white: #FFFFFF;
***REDACTED***
