// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -ms-transform: ranslateX(-50%) translateY(-50%); /* IE 9 */
		-webkit-transform: ranslateX(-50%) translateY(-50%); /* Safari 3-8 */
***REDACTED***
