<ion-header>
    <ion-navbar>
        <ion-title>{{"Order Details" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="order-details-page">
    <div *ngIf="orderDetails.shippingDetails.userName!=''">
        <ion-list *ngFor="let item of orderDetails.cartItems" class="orders-list">
            <ion-card class="orders-item">
***REDACTED***
