<div class="content-heading">Tags
    <div class="pull-right">
        <label for="image-input" class="file-upload">
            <a [routerLink]="'/coupons/addCoupons'"> <button class="btn btn-success"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add
                    Coupon</button> </a>
        </label>
    </div>
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
        Coupons
    </small>
***REDACTED***
