<ion-header>
  <ion-navbar>
    <ion-title>{{'Category' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let category of categories">
    <ion-list>
      <ion-item (click)="navigate(category._id)">
***REDACTED***
