<ion-header>
  <ion-navbar>
    <ion-title>News Application</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="news">
  <ion-card class="category">
    <div *ngFor= "let item of newsList" (click)="newsDetail(item.id)">
      <div class="image">
***REDACTED***
