<div class="content-heading ">
 View Table Booking
  <small><a [routerLink]=" ['/home'] ">Home -></a>
    <a [routerLink]="['/tables/booking']">Manage Table Booking  </a>->View Table Booking
  </small>
</div>
   <h4 class="booking">BOOKING INFORMATION</h4> 
<div class="col-masonry col-md-6 info">
  <div class="panel b m0">
    <div class="panel-heading">
***REDACTED***
