<div class="content-heading">Table Booking
  <small><a [routerLink]=" ['/home'] ">Home</a> -> Table Booking</small>
</div>
<div class="waiting-loader" *ngIf="loading == true">
    <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="panel panel-default" *ngIf="loading == false">
  <div class="panel-heading">Booking Details</div>
  <div class="table-responsive b0">
    <table class="table table-hover">
***REDACTED***
