<div class="breadcrumb-wrap">
    <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>{{ 'Whishlist' | translate }}</h1>
        <h6>{{ 'Checkout with your wish items or edit' | translate }} </h6>
    </div>
</div>

***REDACTED***
