$padding-base:              1rem !default;
$margin-base:               1rem !default;

$padding-base-vertical:     0.5rem !default;
$padding-base-horizontal:   0.75rem !default;

$padding-large-vertical:    0.6rem !default;
$padding-large-horizontal:  1rem !default;

$padding-small-vertical:    0.4rem !default;
***REDACTED***
