// Remove this SCSS from production
.main-content {
    .color-palette {
        .color-group {
            li{
                list-style-type: none;
                &.main-color{
                    border-bottom: 4px solid #fafafa;
                }
                &.color{
***REDACTED***
