<!-- Sidebar Header starts -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a [routerLink]="['/dashboard/dashboard1']" class="logo-text float-left">
            <div>
                <img class="logo-sidebar" *ngIf="logoUrl" src="{{logoUrl}}" />
            </div>
        </a>
        <!-- <a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">
            <i class="ft-toggle-right toggle-icon" data-toggle="expanded"></i>
***REDACTED***
