<!--Basic DataTable Starts-->
<section id="basic-datatable" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Basic DataTable</div>
            <p class="content-sub-header">A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
***REDACTED***
