<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"Restaurant App" | translate}}
    </ion-title>

    <ion-buttons slot="end">
***REDACTED***
