<ion-header>
  <ion-navbar>
    <ion-title>{{"Chat" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="chat-bg">
  <section *ngFor="let chat of chatList">
    <ion-row *ngIf="chat.sentBy=='sender'">
      <ion-col col-3>
***REDACTED***
