<!-- Wizard Starts -->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Wizard Forms</div>
    </div>
</div>
<section id="icon-tabs">
  <div class="row">
    <div class="col-12">
      <div class="card">
***REDACTED***
