<ion-header>
    <ion-navbar>
        <ion-title>{{"MyCart" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" class="header-btn">
                <ion-icon name="cart"></ion-icon>
                <div *ngIf="noOfItems > 0">
                    <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
                </div>
            </button>
***REDACTED***
