<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Update Category</h4>
      </div>
      <form (ngSubmit)="onUpdateDataCategory(f)" #f="ngForm">
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
***REDACTED***
