<section class="thanks-content">
	<div class="wrapper">
		<h1>Page Not Found</h1>
		<br>
		<h6>page your searching is currently not available.</h6>
		<br>
		<button class="btn btn-continue" [routerLink]="['/home']">Home</button><br>
	</div>	
</section>***REDACTED***
