<!-- input groups start -->
<section class="input-groups" id="input-groups">
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Form Input Groups</div>
        </div>
    </div>
	<div class="row" matchHeight ="card">
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
***REDACTED***
