<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form (ngSubmit)="updateSettings()" #settingsForm="ngForm">
        <card title="Loyality Program ">
          <div class="row">
            <div class="col-md-10 offset-1">
              <div class="row">
                <div class="col-md-6">
                  Program Status:
***REDACTED***
