<div class="wrapper">
  <div class="abs-center wd-xl custom">
    <!-- START panel-->
    <div class="text-center mb-xl">
      <img class="block-center img-rounded img-responsive customImg" src="assets/img/smiley.png" alt="Image"/>
      <div class="text-lg mb-lg">404</div>
      <p class="lead m0">We couldn't find this page.</p>
      <p>The page you are looking for does not exists.</p>
    </div>
    <ul class="list-inline text-center text-sm mb-xl">
***REDACTED***
