<ion-header>
  <ion-navbar>
    <ion-title>Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact">
  <p class="contact-head">Contact Us</p>
  <form (ngSubmit)="onSend(f)" #f="ngForm">
    <!--name-->
***REDACTED***
