// Magazine components  
.magazine-section {
  .view {
    margin-bottom: 2rem;
  }
  .single-news {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.5rem;
    &:last-of-type {
      border-bottom: none;
***REDACTED***
