//Social feed
.mdb-feed {
  margin: 1rem 0 1rem 0;
  .news {
    display: flex;
    .label {
      display: block;
      flex: 0 0 auto;
      align-self: stretch;
      width: 2.5rem;
***REDACTED***
