// Team
.section {
  &.team-section {
    .avatar {
      margin-bottom: 2rem;
      @extend .flex-center;
      height: auto;
      .rounded-circle {
        max-width: 170px;
      }
***REDACTED***
