// Testimonials
.testimonial-carousel {
  .carousel-control {
    background-image: none;
    top:50%;
    transform: translateY(-35%);
    &:before {
      font-size: 5rem;
      color: rgba($black,.6);
    }
***REDACTED***
