// BLOG COMPONENTS
// Author box
.author-box {
  @extend .jumbotron;
  padding: 3rem;
  @media (max-width: $small-screen-up) {
    text-align: center;
    img {
      margin-bottom: 2rem;
      display: inline;
***REDACTED***
