// Cards Pro
.card {
  // Common styles for cards pro
  &.card-image {
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .card-data {
    background-color: map-get($mdb-color, 'lighten-3');
***REDACTED***
