/***************
   Checkboxes
***************/
[type="checkbox"] {
  @extend %hide-radio-checkbox;
  + label {
    @extend %base-radio-checkbox-label;
    &:before {
      content: '';
      position: absolute;
***REDACTED***
