// Chips
.chip {
  display: inline-block;
  height: $chip-height;
  font-size: $chip-font-size;
  font-weight: $chip-font-weight;
  color: $chip-font-color;
  line-height: $chip-line-height;
  padding: 0 $chip-padding-right;
  @include border-radius($chip-br);
***REDACTED***
