
// Colorful SideNav
.colorful-side-nav {
  background-color: $default-color-dark;
  li {
    background-color: $default-color-dark;
    &:hover,
    &.active {
      background-color: lighten( $default-color-dark, 5%);
    }
***REDACTED***
