// Dropdown pro
// Dropdowns menu's colors
.dropdown {
  .dropdown-menu {
    padding: 0.5rem;
    @each $name, $color in $dropdown-colors {
      &.dropdown-#{$name} {
        .dropdown-item {
          &:hover,
          &:active {
***REDACTED***
