// Ecommerce Pro Cards
// Collection card
.collection-card {
  .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    &.dark {
***REDACTED***
