/***************
  Input group
***************/
.input-group {
  .input-group-addon {
    background-color: #e0e0e0;
    [type="checkbox"] + label {
      padding-left: 18px;
      height: 13px;
    }
***REDACTED***
