/***************
  Material select
***************/
%user-select-none {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
***REDACTED***
