// Navbars pro
.navbar {
  .nav-item {
    &.avatar {
      padding: 0;
      &.active {
        background-color: transparent!important;
      }
      .dropdown-toggle {
        padding: 0;
***REDACTED***
