// Scrollspy
.nav-pills .nav-item {
  a {
    text-align:left;
    color: #666;
    border-radius:0;
    &:hover {
      background-color: transparent;
      color: color($mdb-color, "base"); 
      font-weight: 500;
***REDACTED***
