// Social Buttons

@each $medium, $color in $social-colors {
  .btn-#{$medium} {
    background-color: $color;
    &:hover,
    &:focus {
      background-color: lighten($color, 5%);
    }
  }
***REDACTED***
