//Navs, Tabs and Pills
.nav-tabs {
  border: 0;
  padding: $tabs-padding;
  margin-left: $tabs-margin-x;
  margin-right: $tabs-margin-x;
  margin-bottom: $tabs-margin-y;
  background-color: $default-color;
  z-index: 2;
  position: relative;
***REDACTED***
