.acount-content{
	.acount-content-wrapper{
		border: 1px solid $white-c;
	    border-radius: 4px;
	    margin-top: 2rem;
	    padding: 2rem 1.4rem;
    }
	.basic-info{
		.btn{
			box-shadow: none;
***REDACTED***
