.navbar{
    background: rgba(255,255,255,0.15);
    padding: 0 9.5rem!important;
    color: $white-a!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 63px;
    z-index: 999;
    .logo-img{
      width:  3rem;
      height: 3rem;
***REDACTED***
