.menu-content{
min-height: 35rem;
	.menu{
		.menu-item{
			    border: 1px solid $white-d;
			    padding: 10px 0;
			    margin: 1rem 0;
			    transition: all .3s ease;
			    cursor: pointer;
			    flex-direction: row;
***REDACTED***
