.thanks-content{
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 44rem;
	height: 100%;
	margin: -66px 0 -19px;
	position: relative;
	padding: 5rem 0 3rem;
***REDACTED***
