page-address-list {
  .content {
    background-image: url(../assets/img/address-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .amount-block {
    background-color: $light;
***REDACTED***
