<div class="row">
    <div class="col text-primary">
        <h2>{{ "OUT_OF_STOCK" | translate }}</h2>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<!--table starts-->
<section id="ng-tables">
    <div class="row text-left">
        <div class="col-12">
***REDACTED***
