page-home {
  h2 {
    margin-top: 1rem;
  }
  /*slider*/
  .grid {
    padding: 0px;
    .slides {
      .overlay {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
***REDACTED***
