@import '../../../assets/sass/variable';

:host {
  background: $navbar-bg;
  box-shadow: 0px 5px 5px -4px rgba(#000,.25);
  color: $navbar-color;
  display: block;
  height: $navbar-height;
  left: $sidebar-width;
  position: absolute;
***REDACTED***
