<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Tour</div>
    <p class="content-sub-header">Apex template tour</p>
  </div>
</div>
<!-- Apex template tour starts -->
<section id="tours">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-12">
***REDACTED***
