<!-- Striped row layout section start -->
<section id="striped-row-form-layouts">
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Form Striped Rows</div>
        </div>
    </div>
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
***REDACTED***
