<div class="content-heading"> Business User
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> -> Business User
    </small>
</div>
<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Business Details</div>
    <div class="panel-body">
        <form role="form" (ngSubmit)="onSubmitBusiness(f)" #f="ngForm">
            <fieldset>
***REDACTED***
