<ion-header>
  <ion-navbar>
    <ion-title>Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="event-content">

  <!--segment for today and upcoming Event-->
  <ion-segment [(ngModel)]="event">
***REDACTED***
