<div class="chat-page">
  <div class="chat-container row col-md-12">
    <div class="user-list col-md-4">
      <div class="search-input">
        <input id="search" type="text" placeholder="search" [(ngModel)]="searchInput"
               (ngModelChange)="searchChatList()">
        <i class="fa fa-search"></i>
      </div>
      <div class="users">
        <div class="user-list-item" *ngFor="let chat of chatUserList">
***REDACTED***
