<template>
  <div class="not-found-pages">
    <div class="row">
      <div
        class="flex xs12 sm6 lg4 xl3"
        v-for="item in items"
        :key="item.$index"
      >
        <va-card
          class="not-found-pages__cards text--center"
***REDACTED***
