// // Forgot Password

// // #forgot-password {
// //     .forgot-password-bg {
// //      // background-image: url("../../../assets/img/gallery/light-bg.jpg");
// //       background-size: 100% 100%;
// //       background-repeat: no-repeat;
// //     }
  
//     .fg-image {
***REDACTED***
