<div class="content-heading">Testimonials
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/testimonials/add'">
        <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Testimonial</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> ->Manage Testimonial</small>
</div>
***REDACTED***
