<!--Input Group Starts-->
<section id="input-groups">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Input groups</div>
            <p class="content-sub-header">Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs, custom selects, and custom file inputs.</p>
        </div>
    </div>
    <!--Basic Input Groups Starts-->
    <section id="basic-input-group">
***REDACTED***
