<ion-menu persistent="true" [content]="content" class="menu" *ngIf="this.platform.dir()==='ltr'" side="left">
  <ion-content class="sidebar-menu">
    <div class="cover"></div>
    <img class="user-img" src="{{user.profilePicture}}">
    <p class="user-name">{{user.name}}</p>

    <button menuClose class="menu-item" ion-item (click)="home();">
      <ion-icon name="home" item-left></ion-icon>
      {{'Home' | translate}}
    </button>
***REDACTED***
