.custom-switch {
    padding-left: 2.25rem;
    padding-bottom: 1rem; // added for positioning
  }
  
  .custom-control-label { // added for alignment with the switch
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.1rem;
  }
***REDACTED***
