<div class="row">
  <div class="col text-primary">
    <h2>{{ "CATEGORIES" | translate }}</h2>
  </div>
  <app-custom-loader *ngIf="isLoading"></app-custom-loader>
  <div class="col">
    <!--Multiple buttons Starts-->
    <section id="multiple-buttons">
      <div class="row text-left">
        <div class="col-sm-12 pull-right">
***REDACTED***
