<ion-header no-border>
    <ion-navbar>
        <ion-title>{{"Login" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="login-content">
    <!-- skip button -->
    <button ion-buton clear class="btn-skip" (click)="home()">{{"Skip" | translate}}</button>
***REDACTED***
