<ion-header>
  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-content">
  <ion-list>
    <button ion-item class="list-item" *ngFor="let item of listArray" (click)="navListDetails(item.id)">
      <ion-row no-padding>
***REDACTED***
