.main-content {
    .color-palette {
        .color-group {
            li{
                list-style-type: none;
                &.main-color{
                    border-bottom: 4px solid #fafafa;
                }
                &.color{
                    padding: 10px 15px 11px;
***REDACTED***
