<section class="form-wrapper">
    <img src="assets/img/login.png" class="bg-img">
    <div class="bg-overlay"></div>

    <div class="form-content" *ngIf="!isEmailSent">
        <img [src]="webLogo">
        <p class="title">enter you email address, we will send an OTP .</p>
        <form (ngSubmit)="sendEmail(emailForm)" #emailForm="ngForm">
            <div class="form-group">
                <label for="email">Email Address</label>
***REDACTED***
