<!--Dropdown section starts-->
<section id="dropdown">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Dropdown</div>
        </div>
    </div>
    <div class="row">
        <!--Toggle dropdown starts-->
        <div class="col-12">
***REDACTED***
