<div class="wrapper">
    <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
        <app-sidebar></app-sidebar>
        <!-- <div class="sidebar-background"></div> -->
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
***REDACTED***
