<div class="row">
    <div class="col text-primary">
        <h2>{{"NOTIFICATIONS" | translate}}</h2>
    </div>
</div>

<!--table starts-->
<section id="ng-tables">
    <div class="row text-left">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form>
                            <section id="striped-light">
                                <div class="row text-left">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>{{"TITLE" | translate}}</th>
                                                            <th>{{"NOTIFICATION_TYPE" | translate}}</th>
                                                            <th>{{"ORDER_ID" | translate}}</th>
                                                            <th>{{"NOTIFICATION_DATE" | translate}}</th>
                                                            <th>{{"VIEW" | translate}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let notification of notificationList | paginate:{itemsPerPage:limit,currentPage:page,totalItems:total}">
                                                            <td>{{notification.title}}</td>
                                                            <td>{{notification.notifyType}}</td>
                                                            <td>{{notification.orderID}}</td>
                                                            <td>{{notification.createdAt | date}}</td>
                                                            <td>
                                                                <button class="btn btn-raised btn-secondary"
                                                                        (click)="viewOrder(notification)"
                                                                        type="button">
                                                                    <em class="fa fa-eye"></em>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <pagination-controls
                                                            (pageChange)="pageChanged($event)"></pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
