<!--Line with Area Chart 1 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Chartist</div>
        <p class="content-sub-header">Angular component for Chartist.js</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
***REDACTED***
