<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row showproductimage" *ngIf="category">
    <div class="col-md-5">
        <img
                [src]="category.imageUrl"
                class="doctors-img img-fluid"
                alt="example placeholder avatar"
        />
    </div>
    <div class="col-md-5 title">
***REDACTED***
