<div class="row pull-right">
  <div class="col">
    <a [routerLink]="'/payment/bank'" class="btn btn-raised btn-danger">
      <em class="fa fa-plus"></em>&nbsp;&nbsp;Add Bank
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
***REDACTED***
