@import '../../../assets/sass/variable';

:host {
  display: inline-block;

  .badge {
    background: main-color(500);
    border: 1px solid main-color(500);
    color: main-contrast(500);
    font-size: .75rem;
***REDACTED***
