<ion-header>
    <ion-navbar>
        <ion-title>{{"Contact" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contact">
    <p class="contact-head">{{"Contact Us" | translate}}</p>
    <form (ngSubmit)="onSend(f)" #f="ngForm">
        <!--name-->
***REDACTED***
