// ACCORDION
.accordion {
    .sb-item-body {
        transition: 0.5s;
        overflow: hidden;
    }
    .card {
        border-bottom: 1px solid #eee;
        box-shadow: none;
        .card-header {
***REDACTED***
