.picker__select--month, .picker__select--year {
    display: inline-block !important;
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em;
}

.picker {
  z-index: 99999;
***REDACTED***
