.file-field {
    display: flex;
    flex-direction: row;
    .file-path-wrapper {
        overflow: visible;
        display: flex;
        flex-grow: 1;
        &:after {
        content: "";
        clear: both;
***REDACTED***
