// Rotating card
.card-wrapper {
    height: 500px;
    position: relative;
    perspective: 800px;
    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
***REDACTED***
