/*ng-select*/
mdb-select {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
***REDACTED***
