.testimonial-carousel {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: none;
    }

    .carousel-control {
        font-size: 5rem;
        color: rgba(0, 0, 0, 0.6);
        &.left {
            left: 6%;
***REDACTED***
