<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settings">
  <div class="">
    <ion-row>
      <img class="cover" src="http://res.cloudinary.com/ujju/image/upload/v1499925333/starter/group.jpg"><br>
***REDACTED***
