<template>
  <div class="product-page row text-center">
    <div class="flex md12 xs10">
      <va-card title="Product List">
        <router-link to="/product">
          <va-button class="mb-4">Add Product</va-button>
        </router-link>
        <!-- <h6 class="text-center">CATEGORY LIST</h6> -->
        <div class="empty-error my-5" v-if="length === 0 && !loading && !isSpinner">
          <b>Products are not available in this Category !!</b>
***REDACTED***
