<div class="content-heading">Testimonials
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/testimonials/addTestimonials'">
        <button class="btn btn-warning">
          <em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Testimonials</button>
      </a>
    </label>
  </div>
  <br />
***REDACTED***
