<ion-header>
  <ion-navbar>
    <ion-title>{{"Tickets" | translate}}</ion-title>
    <ion-buttons end icon-only>
      <button class="add-icon" (click)="addTickets()">{{"Add Ticket" | translate}}
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
***REDACTED***
