<ion-header>
  <ion-navbar>
    <ion-title>barcode-scanner</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bar-code">
  <button ion-button block (click)="scan()">Scan</button>
  <div *ngIf="barcodeData.text">
***REDACTED***
