.page-cart{ 
    //  background-image: url(assets/img/bg.jpg); 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     .price-details {
       display: flex;
       width: 97%;
     }
     h4 {
***REDACTED***
