.page-login {
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --background: url(assets/img/menu-bg.jpg) !important;
  p{
    color: #fff;
  }
   .btn-log-in {
      background-color: $primary;
***REDACTED***
