.page-orders {
    ion-row{
      border-bottom: 1px solid $light-grey;
    }
    .orders-list {
      .orders-item {
        padding: 0px !important;
        p{
            margin: 0;
        }
***REDACTED***
