<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-responsive img-rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="panel-body">
***REDACTED***
