<!--Basic Badges Starts-->
<section id="basic-badges">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Badges</div>
        </div>
    </div>
    <div class="row" matchHeight ="card">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
***REDACTED***
