<div class="row">
  <div class="col-md-3">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="row no-gutters p-1 white">
          <div class="col-md-9 col-9">
            <h3 class="font-large-1 mb-0">Total Personal Gain</h3>
            <p>{{walletData.totalOrderEarning | currency:currency.currencyName:'symbol':'2.2-2'}}</p>
          </div>
          <div class="col-md-3 text-center col-3">
***REDACTED***
