<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Typography</div>
    </div>
</div>
<!-- Headings -->
<section id="html-headings-default">
    <div class="row" matchHeight ="card">
        <div class="col-md-12 col-lg-6">
            <div class="card">
***REDACTED***
