.#{$wi-css-prefix}-yahoo-0:before { content: $tornado; }
.#{$wi-css-prefix}-yahoo-1:before { content: $day-storm-showers; }
.#{$wi-css-prefix}-yahoo-2:before { content: $hurricane; }
.#{$wi-css-prefix}-yahoo-3:before { content: $thunderstorm; }
.#{$wi-css-prefix}-yahoo-4:before { content: $thunderstorm; }
.#{$wi-css-prefix}-yahoo-5:before { content: $rain-mix; }
.#{$wi-css-prefix}-yahoo-6:before { content: $rain-mix; }
.#{$wi-css-prefix}-yahoo-7:before { content: $rain-mix; }
.#{$wi-css-prefix}-yahoo-8:before { content: $hail; }
.#{$wi-css-prefix}-yahoo-9:before { content: $showers; }
***REDACTED***
