<div class="row text-right" *ngIf="!showAddForm">
  <div class="col">
    <a class="btn btn-raised btn-danger" style="margin-right:13em" (click)="openAddBankForm()">
      <em class="fa fa-plus"></em>&nbsp;&nbsp;Add Bank
    </a>
  </div>
</div>
<div class="row" *ngIf="!showAddForm && !showUpdateForm">
  <div class="col-md-8 offset-md-2">
    <div class="card">
***REDACTED***
