<div>
  <div class="md-form">
    <label class="active">{{ label }}</label>
    <input [placeholder]="placeholder" [value]="endHours" type="text" class="form-control timepicker" (click)="openBtnClicked()" [(ngModel)]="endHours">
  </div>
  <div class="clockpicker picker" [hidden]="!showClock" [ngClass]="{'picker--opened': showClock, 'darktheme': darktheme}">
    <div class="picker__holder">
      <div class="picker__frame">
        <div class="picker__wrap">
          <div class="picker__box">
***REDACTED***
