<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="text-right">
	<button md-raised-button color="accent" class="addButton" (click)="addOffer()">
		Add New Offer
	</button>
</div>
<br>
<table class="table table-striped" [mfData]="offerData" #mf="mfDataTable" [mfRowsOnPage]="5">
	<thead>
***REDACTED***
