<ion-header>
    <ion-navbar>
        <ion-title>{{"About Us" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-slides initialSlide=0 speed=3000 loop=true autoplay=1 dir="rtl">
        <ion-slide>
***REDACTED***
