@import "../../../assets/sass/scss/gradient-variables";

:host /deep/ .ct-area {
    stroke: none;
    fill-opacity: 0.1;
}

:host /deep/ .ct-grid{
    stroke-dasharray: 0px;
    stroke: rgba(0, 0, 0, 0.1);
***REDACTED***
