page-order-list {
    .orders-item{
        padding: 12px 14px 6px 20px;
        color: #666;
        margin-bottom: 18px;
        h5{
            font-size: 16px;
            margin-bottom: 8px;
        }
        p{
***REDACTED***
