<template>
  <!-- category form page -->
  <div class="row">
    <div class="flex md6 xs10">
      <va-card>
        <h6 class="text-center">{{!this.isEdit ? 'ADD CATEGORY' : 'EDIT CATEGORY'}}</h6>
        <form @submit.prevent="submit">
          <div class="row">
            <div class="flex offset--md1 md10 sm12 xs12">
              <va-input v-model="form.title" type="text" class="mt-4 mb-0" placeholder="Enter Title" label="Title" :class="{invalid: $v.form.title.$error}">
***REDACTED***
