<section class="form-wrapper">
	<img [src]="webLogo" class="bg-img">
	<div class="bg-overlay"></div>
	<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
		<div class="form-content">
			<img [src]="webLogo">
			<p class="title">welcome to restraurant app</p>

			<div class="form-group">
				<label for="username">User name</label>
***REDACTED***
