<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card container">
                <div class="card-header">
                    <h4>PAYMENT METHOD</h4>
                </div>
                <form (ngSubmit)="savePaymentDetail()" #f="ngForm">
                    <div class="card-body">
                        <div class="card-block ">
***REDACTED***
