<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Orders" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" *ngIf="noOfItems > 0" item-right color="danger">{{noOfItems}}</ion-badge>
***REDACTED***
