//
// Isotope based Grid
// --------------------------------------------------

.isotope-grid {
  position: relative;
  overflow: hidden;
  &:not(.filter-grid) {
    min-height: 180px;
    background: {
***REDACTED***
