//
// Page Title & Breadcrumbs
// --------------------------------------------------

// Page Title
.page-title {
  width: 100%;
  margin-bottom: ceil($grid-vertical-step * 2.5); //~60px
  padding: floor($grid-vertical-step * 1.5) 0; //~36px 0
  border-bottom: 1px solid $border-color;
***REDACTED***
