// Neutral
    .#{$wi-css-prefix}-owm-200:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-owm-201:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-owm-202:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-owm-210:before                            { content: $lightning                   ; }
    .#{$wi-css-prefix}-owm-211:before                            { content: $lightning                   ; }
    .#{$wi-css-prefix}-owm-212:before                            { content: $lightning                   ; }
    .#{$wi-css-prefix}-owm-221:before                            { content: $lightning                   ; }
    .#{$wi-css-prefix}-owm-230:before                            { content: $thunderstorm                ; }
    .#{$wi-css-prefix}-owm-231:before                            { content: $thunderstorm                ; }
***REDACTED***
