<section class="thanks-content">
  <div class="wrapper">
    <h1>Thank you</h1>
    <h4>Your Order has been placed successfully</h4>
    <br>
    <h6>Thank you for giving us this wonderful opportunity to serve you. Our management is confident enough that you get 100%
      satisfaction for every purchase.</h6>
    <br>
    <button class="btn btn-continue" [routerLink]="['/home']">Continue Shopping</button>
    <br>
***REDACTED***
