<!--Modal starts-->
<section id="modals">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Modals</div>
        </div>
    </div>
    <div class="row" matchHeight ="card">
        <!--Modal with Default options starts-->
        <div class="col-sm-12 col-md-6 col-lg-4">
***REDACTED***
