<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<card [title]="'View'" class="mb-0">
	<md-tab-group>
		<md-tab>
			<ng-template md-tab-label>
				<md-icon color="accent">shopping_basket</md-icon>
				Product Info
			</ng-template>
			<h3>Product Info</h3>
			<div class="row">
***REDACTED***
