<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{previousRoute}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{productDetails?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-btn" (click)="goToCartPage()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="noOfItems > 0" class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
***REDACTED***
