<!--Tabs Starts-->
<section id="tabs">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Tabs</div>
    </div>
  </div>
  <div class="row">
    <!--Tabset Starts-->
    <div class="col-md-12 col-lg-12">
***REDACTED***
