<ion-content class="welcome-content">
    <!-- skip button -->
    <button ion-buton clear class="btn-skip" (click)="login()">{{"Skip" | translate}}</button>
    <!-- slider -->
    <ion-slides pager speed="1000" loop="true">
        <ion-slide>
            <img src="assets/img/banner1.jpg" class="slider-img">
        </ion-slide>
        <ion-slide>
            <img src="assets/img/banner2.jpg" class="slider-img">
***REDACTED***
