<div class="row">
  <div class="col-md-6">
    <breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
  </div>
  <div class="col-md-6">
    <button md-raised-button color="accent" class="pull-right" (click)="showAddForm()">Add New</button>
  </div>
</div>
<div class="row" *ngIf="table">
  <table class="table table-striped" [mfData]="blogData" #mf="mfDataTable" [mfRowsOnPage]="5">
***REDACTED***
