<!--Login Page Starts-->
<section id="login" class="loginHere">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card gradient-indigo-purple text-center width-400">
          <div class="card-img overlap">
            <img alt="element 06" class="mb-1" *ngIf="logoUrl" src="{{logoUrl}}" width="190">
          </div>
          <div class="card-body">
***REDACTED***
