<ion-header>
    <ion-navbar>
        <ion-title>{{"Favourite" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" class="header-btn" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
***REDACTED***
