<div class="content-heading">Orders
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Oders</small>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Orders Details</div>
  <div class="table-responsive b0">
    <table class="table table-hover">
      <thead>
        <tr>
***REDACTED***
