<!-- Line Chart Starts -->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">ChartJS</div>
        <p class="content-sub-header">Chart.js can be used with ES6 modules, plain JavaScript and module loaders.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
***REDACTED***
