<!--Footer-->
<footer class="page-footer center-on-small-only">

    <div class="newsletter text-align-center">
        <div class="container">
            <form (ngSubmit)="subscribeNewsLetter()" #f="ngForm">
                <div class="md-form">
                    <input mdbActive type="text" id="name" name="email" ngModel class="form-control"
                        placeholder="SUBSCRIBE NEWSLETTER" required #email="ngModel">
                    <span class="help-block" *ngIf="!email.valid && email.touched">
***REDACTED***
