<div class="row">
  <div class="col">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create Notification</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
***REDACTED***
