<ion-header>
  <ion-navbar>
    <ion-title>Booking History</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="card_content" *ngFor="let item of bookings; let i=index;">
    <ion-list class="overlay_top">

      <h2 class="id" padding>
***REDACTED***
