page-booking-history {

	 .card_content{
        background: url('../../assets/img/offer2.jpg') no-repeat center;
        background-size: cover;
        .overlay_top{
            position: relative;
            height: 55px;
            width: 100%;
            display: inline-flex;
***REDACTED***
