<div class="col-md-8 offset-1">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="basic-layout-square-controls">Update Restaurant</h4>
    </div>
    <div class="card-body">
      <div class="px-3">

        <form class="form" (ngSubmit)="onUpdateRestaurant(k)" #k="ngForm">
          <div class="form-body">
***REDACTED***
