// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

// colors

$color-1: #383838; // Mine Shaft
$color-2: #7b9d6f; // Highland
***REDACTED***
