<!--loader -->
<div class="cpreloader-wrap waiting" *ngIf="!loading">
	<div class="cloader waiting">
		<span class="cloader-item"></span>
		<span class="cloader-item"></span>
		<span class="cloader-item"></span>
		<span class="cloader-item"></span>
		<span class="cloader-item"></span>
	</div>
</div>
***REDACTED***
