/* custon file upload */
/* custon file upload */
input[type="file"] {
    display: block;
    color: transparent;
}
/*.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
***REDACTED***
