@font-face {
  font-family: 'maki';
  font-style: normal;
  font-weight: normal;
  src: url('./../sass/icon-fonts/maki/maki.eot');
  src: url('./../sass/icon-fonts/maki/maki.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/maki/maki.woff') format('woff'),
  url('./../sass/icon-fonts/maki/maki.ttf') format('truetype'),
  url('./../sass/icon-fonts/maki/maki.svg#maki') format('svg');
}
***REDACTED***
