<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class="sn-bg-1" [fixed]="false">
        <li>
            <div class="logo-wrapper waves-light">
                <a [routerLink]="['/home']"><img [src]="webLogo" class="img-fluid flex-center"></a>
            </div>
        </li>
        <li>
***REDACTED***
