.language{
    width: 100%;
    height: 37px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    border: none !important;
    background-color: transparent;
    background-clip: padding-box;
***REDACTED***
