<div class="add-address bg-color-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <img src="assets/icons/logo.png" class="logo" />
      </div>
    </div>
    <div class="row mb-5 pb-5">
      <div class="col-md-8">
        <div class="row">
***REDACTED***
