<div class="card-overflow col-12">
  <div class="card-front">
    <ng-content select="card-front" ></ng-content>
  </div>
  <div class="card-revealed" *ngIf="show" [@socialsState]="socials" >
    <ng-content select="card-revealed" ></ng-content>
  </div>
</div>
***REDACTED***
