<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<div class="col-md-10">
  <card title="View Category">
    <div class="row">
      <div class="col-md-4 cat-thumb">
        <img class="custom-img" [src]="url">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col">
***REDACTED***
