<div class="content-heading">Currencies
  <div class="pull-right">
    <label class
             ="file-upload">
      <a [routerLink]="'/currencies/addCurrency'">
        <button class="btn btn-success"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add Currency</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
***REDACTED***
