<tabset [justified]="true">
    <tab>
        <ng-template tabHeading>
            <em class="icon-equalizer fa-lg"></em>
        </ng-template>
        <h3 class="text-center text-thin" [innerHTML]="'offsidebar.setting.SETTINGS'"></h3>
        <div class="p">
            <h4 class="text-muted text-thin">Themes</h4>
            <div class="table-grid mb">
                <div class="col mb">
***REDACTED***
