<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="text-right">
	<button md-raised-button color="accent" class="addButton" (click)="addVariant()">Add Variant</button>
</div>
<br>
<table class="table table-striped" [mfData]="productsVariant" #mf="mfDataTable" [mfRowsOnPage]="5">
	<thead>
		<tr>
			<th class="text-center">
***REDACTED***
