<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product-detail"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'Cart' |translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
***REDACTED***
