<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>ORDER TYPE</h3>
        </div>
        <form #f="ngForm">
<!--          <div class="card-body">-->
<!--            <div class="card-block ">-->
***REDACTED***
