.cart {
  .scroll-content {
    margin-bottom: 50px;
  }
 
  .item {
    padding-left: 0;
    height: auto !important;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
***REDACTED***
