.payment-page {
  .saved-card {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: $light;
    padding: 10px;
    .item {
      border: 1px solid !important;
      border-color: rgba(0, 0, 0, 0.1) !important;
      width: 20%;
***REDACTED***
