.common-footer {
  position: fixed;
  background: $white;
  border-top: 1px solid;
  border-color: rgba(0,0,0,0.1);
  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    .button.btn {
      background: transparent !important;
***REDACTED***
