.grid-content {
  background: $white-b;
  .header-btn {
    @include boxshadow-LightGrey;
    padding: 8px 0;
    background: $white;
    margin-bottom: 1rem;
    ion-col {
      padding: 0;
    }
***REDACTED***
