<div class="content-heading"> Global Setting
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> ->Global Setting</small>
</div>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <!-- START panel-->
    <div class="panel panel-default">
***REDACTED***
