<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Image Cropper</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Cropper starts -->
<section id="tours">
  <div class="row">
    <div class="col-12">
***REDACTED***
