<ion-header>
  <ion-navbar>
    <ion-title>{{"Checkout" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="confirm" padding>

  <ion-row class="heading">
    <ion-col col-6 class="head-cart">
***REDACTED***
