<!--Popover Starts-->
<section id="popovers">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Popovers</div>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Quick and easy popovers Starts-->
    <div class="col-md-12 col-lg-6">
***REDACTED***
