<ion-header>
  <ion-navbar>
    <ion-title>Gallery</ion-title>
    <ion-buttons end>
      <!-- list-button -->
      <button ion-button small icon-only [hidden]="listBtnVisible" (click)="btnToggle()">
        <ion-icon name="list-box"></ion-icon>
      </button>
      <!-- grid-button -->
      <button ion-button small icon-only [hidden]="gridBtnVisible" (click)="btnToggle()">
***REDACTED***
