//responsive classess for hom pages
@media (max-width: $screen-sm) {
    .fw-section {
        padding-bottom: 40px !important;
        padding-top: 30px !important;
        .w-150 {
            width: 110px!important;
        }
        h1 {
            font-size: 26px;
***REDACTED***
