//
// Full Width Section / Full Height Section
// --------------------------------------------------

.fw-section,
.fh-section {
  position: relative;
  background: {
    position: 50% 50%;
    repeat: no-repeat;
***REDACTED***
