<div class="content-heading">News
<div class="pull-right">
            <label for="image-input" class="file-upload">
              <a [routerLink]="'/news/addNews'">  <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New News</button> </a>  
            </label>
 </div>
<small><a [routerLink]=" ['/home'] ">Dashboard</a> -> News</small>
</div>

<div class="panel panel-default">
***REDACTED***
