<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>


<card title="Update-Products">
    <form (ngSubmit)="OnUpdateProduct(f)" #f="ngForm">

        <div class="row">
            <div class="col-md-6">
                <md-input-container class="md-icon-left">
                    <md-icon>edit</md-icon>
***REDACTED***
