<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row text-left">
    <div class="col-12">
        <div class="card">
            <form #f="ngForm" (ngSubmit)="updateWorkingHours()">
                <div class="row text-left">
                    <div class="col-md-8 offset-md-2">
                        <div class="container">
                            <div class="content-header text-primary text-center">
                                {{ "STORE_TIME_SETTINGS" | translate }}
***REDACTED***
