<div class="breadcrumb-wrap">
  <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>{{menuItemData.title}}</h1>
    <h6>Find new taste each time.</h6>
  </div>
</div>

***REDACTED***
