<!--File Upload Starts-->
<section id="file-upload">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Angular2 File Upload</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    </div>
***REDACTED***
