.page-login {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark;
  color: $white;
  p{
    color: #fff;
  }
   .btn-log-in {
***REDACTED***
