.page-order-status {
    .top {
      background-color: #E6E6FA;
      height: 80px;
      width: 100%;
      padding-top: 20px;
      margin-bottom: 2rem;
      p {
        text-align: center;
        font-size: 26px;
***REDACTED***
