$primary: #32cd32;
$primary-lighter : #FFCC80;
$secondary: #387ef5;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #333;
$white: #fff;
$black: rgba(#000000, .8);
$grey: #777;
$light-grey: #ccc;
***REDACTED***
