<ion-header>
  <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content class="home-content">
  <div class="main-wrapper">

    <!-- slider -->
    <div class="slider-wrapper">
      <ion-slides pager speed="1000" loop="true">
***REDACTED***
