<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>


<button md-raised-button color="accent" class="addButton" (click)="addCategory()">Add New Category</button>
<!-- <pre> {{categoryData | json}}</pre> -->

<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>
***REDACTED***
