<div class="col-md-12 col-sm-12 mid-col chat-box">
  <div class="chat-header">
    <div>
      <p class="name text-capitalize">{{chatInfo.user.name}}</p>
    </div>
  </div>
  <div class="message msg-container-base">
    <span *ngFor="let message of chatInfo.message">
      <!-- msg right side -->
      <div class="msg-right row" *ngIf="message.sentBy === 'user'">
***REDACTED***
