.chat-box {
  position: relative;
  background-color: #f5f5f5;
  padding: 0;
  height: 468px;

  .chat-header {
    display: flex;
    justify-content: space-between;
    height: 3.8em;
***REDACTED***
