<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="address-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Add address'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="address-page">
***REDACTED***
