<!--Rating Starts-->
<section id="rating">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Rating</div>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Basic Rating Starts-->
    <div class="col-md-12 col-lg-6">
***REDACTED***
