<ion-header>
  <ion-navbar>
    <ion-title class="title">{{'Book a Table' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-wrap">
  <div class="side-headline">
    <p class="heading"> {{'Select Date and Time to Book Table' | translate}}!</p>
  </div>
  <div class="order">
***REDACTED***
