.bar-button-default, .bar-button-clear-default, .bar-button-default {
  color: $white;
  background-color: transparent;
}

body {
  font-family: 'PT Sans', sans-serif;
}

//hide toolbar border IOS
***REDACTED***
