<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{"Orders" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" class="header-btn-cart" (click)="navcart()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" item-right color="danger" *ngIf="cartItems?.length >0 ">{{cartItems?.length}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
***REDACTED***
