page-orders {
  ion-row{
    border-bottom: 1px solid $light-grey;
  }
  .orders-list {
    .orders-item {
      padding: 0px !important;
      img {
        min-height: 60px;
        width: 100%
***REDACTED***
