<div class="row">
    <div class="col text-primary">
        <h2 translate>LANGUAGES</h2>
    </div>
    <div class="col">

        <!--Multiple buttons Starts-->
        <section id="multiple-buttons">
            <div class="row text-left">
                <div class="col-sm-12 pull-right">
***REDACTED***
