<div class="content-heading">View Users
<small>
        <a [routerLink]="['/users/manageUsers']"> Manage Users </a>->
            View Users 
 </small>
 </div>
<div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
            </div>
***REDACTED***
