<ion-app>

  <ion-menu class="menu">

    <ion-content class="sidebar-menu">
      <div style="background-image: url(assets/img/menu-bg.jpg);" class="bg-image">
        <ion-row class="img-name-row">
          <ion-col>
            <img class="user-img" src="{{userInfo?.imgUrl}}">
          </ion-col>
***REDACTED***
