/* ========================================================================
   Component: breadcrumbs
 ========================================================================== */

.breadcrumb {
  font-weight: normal;
  border-radius: 0;
  color: $text-muted;
  padding: 10px 20px;
}
***REDACTED***
