/* ========================================================================
   Component: file-upload
 ========================================================================== */

.file-upload {
    display: block;
    overflow: hidden;
    position: relative;

    [type=file] {
***REDACTED***
