/* ========================================================================
     Component: media-queries
 ========================================================================== */ 

// Taken from bootstrap variables
// to match all components media queries

$mq-desktop-lg:                           $screen-lg-desktop; // Usually 1200px
$mq-desktop:                              $screen-desktop;    // Usually 992px
$mq-tablet:                               $screen-sm-min;     // Usually 768px
***REDACTED***
