/* ========================================================================
     Component: slim-scroll
 ========================================================================== */

$slim-scroll-bar-bg:      fade-out(#000, 0.65);
$slim-scroll-rail-bg:     fade-out(#000, 0.85);

// New scrollable element
scrollable {
  display: block;
***REDACTED***
