<ion-header>
  <ion-navbar>
    <ion-title>News App</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="news-detail">
  <div class="top-img-wrapper">
    <!-- image -->
    <img class="top-image" src="{{newsDetail.image}}">
***REDACTED***
