<!--Invoice template starts-->
<div class="row">
    <div class="col-md-12">
        <h4>Invoice</h4>
    </div>
</div>
<section class="invoice-template">
    <div class="card">
        <div class="card-body p-3">
            <div id="invoice-template" class="card-block">
***REDACTED***
