<div class="row">
  <div class="offset-md-1 col-md-9">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Product Details
        </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
***REDACTED***
