<ion-footer class="common-footer">
  <div class="btn-wrapper">

    <button ion-button icon-only class="btn" (click)="home()">
      <ion-icon name="home"></ion-icon>
    </button>

    <button (click)="wishlist()" ion-button icon-only
            class="btn">
      <ion-icon name="heart"></ion-icon>
***REDACTED***
