@font-face {
  font-family: 'fontelico';
  font-style: normal;
  font-weight: normal;
  src: url('./../sass/icon-fonts/fontelico/fontelico.eot');
  src: url('./../sass/icon-fonts/fontelico/fontelico.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/fontelico/fontelico.woff') format('woff'),
  url('./../sass/icon-fonts/fontelico/fontelico.ttf') format('truetype'),
  url('./../sass/icon-fonts/fontelico/fontelico.svg#fontelico') format('svg');
}
***REDACTED***
