.custom-loader {
    margin: 0 auto;
    background: black;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 15%;
    left: 50%;
    z-index: 1;
***REDACTED***
