<div class="content-heading">{{'Booked Tables' | translate}}
  <small>
    <a [routerLink]=" ['/home'] ">{{'Home' | translate}}</a> -> {{'Booked Tables' | translate}}</small>
</div>
<div class="waiting-loader" *ngIf="loading == true">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<!-- Zero Configuration-->
<div class="panel panel-default" *ngIf="loading == false">
  <div class="panel-heading">{{'Table Booking' | translate}}</div>
***REDACTED***
