<!--<div class="row m-0">-->
<!--  <div class="col-12">-->
<!--    &lt;!&ndash; Kick start &ndash;&gt;-->
<!--    <div id="kick-start" class="card">-->
<!--      <div class="card-header">-->
<!--        <h4 class="card-title">Kick start your project development !</h4>-->
<!--      </div>-->
<!--      <div class="card-content">-->
<!--        <div class="card-body">-->
<!--          <div class="card-text">-->
***REDACTED***
