<ion-header>
  <ion-navbar>
    <ion-title>{{"Order Details" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="order-full" *ngFor="let product of orderDetails.cart">
    <ion-row>
      <ion-col col-4>
***REDACTED***
