page-chat {
  .chat-bg {
    background-image: url(../assets/img/chat-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scroll-content {
    margin-bottom: 70px;
  }
***REDACTED***
