<ion-header>
    <ion-navbar>
        <ion-title>{{"Chat" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="chat-bg">
    <section>
        <span *ngFor="let data of messageList">
***REDACTED***
