<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<card title="My Profile">
	<form (ngSubmit)="onUpdateInfo(f)" #f="ngForm">
		<div class="row">
			<div class="col-md-6">
				<md-input-container class="md-icon-left">
					<md-icon>edit</md-icon>
					<input mdInput placeholder="Name" name="name" id="name" [(ngModel)]="myInfo.name">
				</md-input-container>
			</div>
***REDACTED***
