<h4 class="text-bold-400">Assigned Orders</h4>
<h5 class="text-center" *ngIf="todayOrderData?.length === 0 && lastSevenDayData?.length === 0 && oneMonthData?.length === 0"
  style="color:red">There are not orders assigned to {{staffDetails.name}}</h5>
<div class="row" *ngIf="todayOrderData?.length > 0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Todays's Assigned Orders Details</h4>
      </div>
      <div class="card-body">
***REDACTED***
