<div class="content-heading ">
  View Testimonal
  <small><a [routerLink]=" ['/home'] ">Home -></a>
    <a [routerLink]="['/testimonials/all']">Manage Testimonies </a>->View Testimonial
  </small>
</div>
<div class="col-masonry">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
***REDACTED***
