@mixin bg-opacity($color, $opacity: 1) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

// Progress bars

@mixin progress-variant($color) {
  background-color: $color;  
  &[value]::-webkit-progress-value {
***REDACTED***
