<!--Statistics cards Starts-->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <a routerLink="/orders">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <!-- <a routerLink="/orders"> -->
              <div class="media-body white text-left">
***REDACTED***
