page-rating {
  .product-rating {
    ul {
      padding: 5px 10px;
      text-align: center;

      &.rating li {
        padding: 1px !important;
        background: none;
        color: #ffb400;
***REDACTED***
