<ion-header>
  <ion-navbar>
    <ion-title>ad-mob</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="add-mob">
  <button ion-button block class="send-btn" (click)="showInterstitialAd()">Show Interstitial Ad</button>
***REDACTED***
