<div class="content-heading ">
    Add New News
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
           <a [routerLink]="['/news/manageNews']"> Manage News </a>->
            Add News
    </small>
</div>
<div class="container-md">
<div class="row">
<div class="col-md-2"></div>
***REDACTED***
