<!--
  Generated template for the Location page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"Our Location" | translate}}</ion-title>
***REDACTED***
