.page-item{
    display:inline;
 }
 .my-pagination /deep/ .ngx-pagination .current{
     background-color: #ec407a;
     padding: 10px;
     margin: 2px;
     list-style: none;
 }
 .page-item{
***REDACTED***
