@import '../../../assets/sass/variable';

:host {
  display: inline-block;
  overflow: hidden;

  .breadcrumb {
    margin-bottom: 10px !important;
    display: flex;
    flex-wrap: wrap;
***REDACTED***
