<!-- Feather icons section start -->
<section id="feather-icons">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Feather Icons</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
***REDACTED***
