<div class="container-fluid color-lightblue">
  <div class="row color-lightblue">
    <div class="col-md-2 col-lg-3 col-xl-2 side-menu">
      <app-side-menu></app-side-menu>
    </div>

    <div
      class="col-md-10 col-lg-9 col-xl-10 bg-color-lightblue mt-4 main-bar"
      *ngIf="cartInfo"
    >
***REDACTED***
