<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12" *ngIf="deal.dealType === 'CATEGORY'">
        <div class="card bg-success">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3>{{deal.categoryName}}</h3>
                            <span>{{'CATEGORY'| translate}}</span>
***REDACTED***
