<template>
  <div class="deal-page row text-center">
    <div class="flex md12 xs10">
      <va-card title="Coupons List">
        <router-link to="/coupons">
          <va-button class="mb-4">Add Coupons</va-button>
        </router-link>
        <!-- <h6 class="text-center">CATEGORY LIST</h6> -->

        <div class="empty-error my-5" v-if="length === 0 && !loading && !isSpinner">
***REDACTED***
