<!--List Group starts-->
<section id="list">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">List</div>
            <p class="content-sub-header">List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.</p>
        </div>
    </div>
    <div class="row" matchHeight ="card">
        <!--Basic List Group Starts-->
***REDACTED***
