<!-- Search form-->
<section id="search-website" class="card overflow-hidden">
  <div class="card-header">
      <h4 class="card-title">Website search results</h4>

  </div>
  <div class="card-body">
      <div class="card-block pb-0">
        <form action="#">
          <fieldset class="form-group position-relative has-icon-right mb-0">
***REDACTED***
