<!--Timepicker Starts-->
<section id="timepicker">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Timepicker</div>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Basic Timepicker Starts-->
    <div class="col-md-4 col-lg-4">
***REDACTED***
