<!-- Media Object start -->
<section id="bordered-media-object d-flex mr-3">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Media object</div>
			<p class="content-sub-header">Abstract object styles for building various types of components that feature a left- or right-aligned image alongside
				textual content.</p>
		</div>
	</div>
	<div class="row" matchHeight ="card">
***REDACTED***
