<div class="row">
  <div class="col text-right">
    <button class="btn btn-raised btn-danger" routerLink="/full-layout/advertisement/add/">
      <em class="fa fa-plus"></em> &nbsp; &nbsp; Add New</button>
  </div>
</div>
<section id="simple-table">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center" style="color:red" *ngIf="adList?.length === 0">Sorry. There are no advertisement</h4>
***REDACTED***
