<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h4>Loyality Program</h4>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="card-block">
            <form (ngSubmit)="changeLoyaltyData()" #loyaltyForm="ngForm">
***REDACTED***
