<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="col-md-10">
	<card title="View Variant">
		<h5>Variant Info</h5>

		<div class="row">
			<div class="col-md-6">
				<label>SKU Code :</label>
				{{variantData.sku}}
***REDACTED***
