<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Bordered Form</div>
        </div>
    </div>
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
***REDACTED***
