<div class="offcanvas-wrapper home-grid">
  <!-- Page Content-->
  <!-- Category-->
  <div class="container-fluid px-0">
    <div class="row mx-0">
     <!-- Category-->
     <div class="category-card-wrap col-md-12 col-sm-12">
      <div class="category-card lg  fw-section padding-top-7x padding-bottom-7x" style="background-image: url(assets/img/banners/home-grid-l2.jpg);">
        <span class="overlay" style="background-color: #000; opacity: .5;"></span>
        <div class="d-flex justify-content-center">
***REDACTED***
