//
// Mixins
// --------------------------------------------------

// Block paddings classes
@mixin block-padding-top($from: 1, $to: 10) {
  @for $i from $from through $to {
    .padding-top-#{$i}x {
      padding-top: floor($grid-vertical-step * $i) !important;
      @media (max-width: $screen-md) {
***REDACTED***
