<!-- <div  [ngClass]="{offcanvas-open: chekValue}"> -->

<div>
  <div class="offcanvas-wrapper">
    <!-- Page Content-->
    <!-- Main Slider-->


    <!-- hero-slider style-1 -->
    <section class="hero-slider style-4">
***REDACTED***
