@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('./../sass/icon-fonts/entypo/entypo.eot');
  src: url('./../sass/icon-fonts/entypo/entypo.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/entypo/entypo.woff') format('woff'),
  url('./../sass/icon-fonts/entypo/entypo.ttf') format('truetype'),
  url('./../sass/icon-fonts/entypo/entypo.svg#entypo') format('svg');
}
***REDACTED***
