<div class="content-heading">News
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/news/addNews'">
        <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New News</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> -> Manage News</small>
</div>
***REDACTED***
