<ion-header>
    <ion-navbar>
        <ion-title>{{"Order Details" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <img class="" src="{{orderDetails.item.thumb}}">
    <div class="card-title">{{orderDetails.item.title}}</div>
    <div class="details">
***REDACTED***
