<section id="simple-table">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Profile Information</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-striped">
***REDACTED***
