<div class="content-heading"> Setting
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Setting</small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 ">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
***REDACTED***
