<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<card title="Add-Variant">
	<form (ngSubmit)="onSaveVariant(f)" #f="ngForm">
		<!-- size and Color -->
		<div class="row margin-row">
			<div class="col-md-6">
				<md-icon>format_color_fill</md-icon>
				<md-select placeholder="Select Color" class="select-width" name="categoryId" id="categoryId" required (change)="onSelectColor($event)">
					<!--(ngModelChange)="onSelectColor($event)" -->
***REDACTED***
