<div class="row">
  <div class="col">
    <div class="col-md-12">
      <div class="text-right">
          <a routerLink="/settings/tags/add" class="btn btn-raised btn-danger">
            <em class="fa fa-plus">&nbsp;&nbsp;</em>Add Tag
          </a>
      </div>
      <div class="card">
        <div class="card-header">
***REDACTED***
