<div class="content-heading"> Location
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Location
  </small>
</div>
<div class="col-md-2"></div>
<div class="col-md-8">
  <!-- START panel-->
  <div class="panel panel-default">
    <div class="panel-heading">Location Details</div>
***REDACTED***
