<div class="breadcrumb-wrap">
  <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>All products...</h1>
    <h6>Hello there, you'll find here what you really want to taste..</h6>
  </div>
</div>
<section class="all-product">
***REDACTED***
