<div class="col-md-8 col-sm-12 mid-col chat-box">
  <div class="chat-header">
    <div *ngIf="username != ''">
      <p class="name text-capitalize">{{username}}</p>
    </div>
  </div>
  <div class="message msg-container-base" *ngIf="username != ''">
    <span *ngFor="let item of chatData.messages">
      <!-- msg right side -->
      <div class="msg-right row" *ngIf="item.sentBy == 'sender' ">
***REDACTED***
