<div class="ng-gallery mdb-lightbox {{ type }}" *ngIf="showRepeat"> 
  <figure class="col-md-4" *ngFor ="let i of modalImages; let index = index">
    <img src="{{ !i.thumb ? i.img : i.thumb }}" class="ng-thumb" (click)="openGallery(index)" alt="Image {{ index + 1 }}" />
  </figure>
</div>
<div  tabindex="0" class="ng-overlay" [class.hide_lightbox]="opened == false">
  <div class="top-bar" style='z-index: 100000'>
    <span class="info-text">{{ currentImageIndex + 1 }}/{{ modalImages.length }}</span>    
    <a class="close-popup" (click)="closeGallery()" (click)="toggleRestart()"></a>
    <a *ngIf="!is_iPhone_or_iPod" class="fullscreen-toogle" [class.toggled]='fullscreen' (click)="fullScreen()"></a>
***REDACTED***
