<template>
  <div class="row row-equal">
    <div class="flex xl10 xs12">
      <div class="row">
        <div class="flex xs12 sm4" v-for="(info, idx) in infoTiles" :key="idx">
          <router-link :to="info.url">
            <va-card class="mb-4" :color="info.color">
              <p class="display-2 mb-0" style="color: white">{{ info.value }}</p>
              <p>{{ info.text }}</p>
            </va-card>
***REDACTED***
