<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row showproductimage" *ngIf="product">
    <div class="col-md-5">
        <img [src]="product.imageUrl" class="doctors-img img-fluid" alt="example placeholder avatar">
    </div>
    <div class="col-md-7 title ">
        <h5>{{product.title}}</h5>
        <h5>{{product.description}}</h5>
        <h5><strong>{{"CATEGORY" | translate}}</strong>:&nbsp;{{product.categoryName}}</h5>
        <h5 *ngIf="product.subcategory">
***REDACTED***
