<!-- Navbar for Wizard Starts -->
<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs nav-fill" id="myTab">
        <div class="liner"></div>

        <li class="active nav-item">
            <a [ngClass]="(page==='Personal')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="personal" data-toggle="tab"
                title="personal">
                <span class="round-tabs one">
                    <i class="ft-user"></i>
***REDACTED***
