<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Your Profile
        </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
***REDACTED***
