<div class="content-heading"> Setting
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> -> Setting</small>
</div>
<div class="content-heading text-center">Currency Settings</div>
<div class="waiting-loader" *ngIf="loading">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="row" *ngIf="loading == false">
  <div class="col-sm-2"></div>
***REDACTED***
