<!-- The background div is named as such because it appears below the other divs and is not sized based on values. -->
<div class="mat-progress-bar-background mat-progress-bar-element"></div>
<div class="mat-progress-bar-buffer mat-progress-bar-element" [ngStyle]="_bufferTransform()"></div>
<div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" [ngStyle]="_primaryTransform()"></div>
<div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
***REDACTED***
