:host {
  display:block;
  height:5px;
  overflow:hidden;
  position:relative;
  transform:translateZ(0);
  transition:opacity 250ms linear;
  width:100%;
}
:host .mat-progress-bar-element,:host .mat-progress-bar-fill::after {
***REDACTED***
