.wi-cloud:before {content: $cloud;}
.wi-cloudy:before {content: $cloudy;}
.wi-cloudy-gusts:before {content: $cloudy-gusts;}
.wi-cloudy-windy:before {content: $cloudy-windy;}
.wi-fog:before {content: $fog;}
.wi-hail:before {content: $hail;}
.wi-rain:before {content: $rain;}
.wi-rain-mix:before {content: $rain-mix;}
.wi-rain-wind:before {content: $rain-wind;}
.wi-showers:before {content: $showers;}
***REDACTED***
