<div class="waiting-loader" *ngIf="loading === true">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="panel" *ngIf="!loading">
  <div class="panel-body">
    <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
    <h3 class="mt0">Invoice {{orderDetails.orderID}}</h3>
    <hr />
    <div class="row mb-lg">
      <div class="col-lg-4 col-xs-6 br pv">
***REDACTED***
