<template>
  <div class="dashboard">
    <!-- <dashboard-charts /> -->
    <dashboard-info-block />
    <div class="row">
      <div class="flex xs12">
        <!-- <dashboard-table /> -->
      </div>
    </div>
    <div class="row row-equal">
***REDACTED***
