<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]=" ['/home']">
            <div class="brand-logo">
                <img class="img-responsive" src="{{imageLogo}}" alt="App Logo" />
                <!--  <h3 class="lableh3">Restaurant</h3> -->
            </div>
            <div class="brand-logo-collapsed">
***REDACTED***
