$fa-var-angle-down: "\f107";
$fa-var-angle-up: "\f106";

// Fix anguarl-datatable sort icons
.glyphicon-triangle-top:before {
  content: $fa-var-angle-up !important;
}

.customPagination {
  padding-right: 15px !important;
***REDACTED***
