<div class="row">
  <div class="col-md-4">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">Total Gain</h3>
              <div class="count"></div>
            </div>
***REDACTED***
