<!-- Line 27: Deleted (focus)="onFocusInput($event)" for better use in Firefox. If other strange problems will occur, please paste it in line 27. -->
<div class="mydp picker" [ngClass]="{'picker--opened': showSelector}" [ngStyle]="{'width': opts.width}">
  <div class="md-form">
    <label *ngIf="label.length > 0" 
        [ngClass]="{
          'active': checkActive(),
          'disabled': opts.componentDisabled
        }">{{ label }}</label>
    <input 
      type="text" 
***REDACTED***
