<div class="wrapper">
   <div class="app-sidebar" data-active-color="white" data-background-color="black">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>

        <div class="main-content">
            <div class="content-wrapper">
***REDACTED***
