<ion-header>
  <ion-navbar>
    <ion-title>Event-Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="event-content">
  <div class="event-details">
    <!-- title -->
***REDACTED***
