<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-4 status">
    <h4>Table Booking Status</h4>
    <!-- <div class="col-md-6 title"> -->
    <!-- <h4><label class="switch">
        <input type="checkbox" [name]="bookingStatus" (change)="bookingStatus()"
          [(ngModel)]="tableStatus.bookingStatus">
***REDACTED***
