<!--Under Maintenance Starts-->
<section id="maintenance">
    <div class="container-fluid gradient-ibiza-sunset">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
                    <div class="card-block">
                        <span class="card-title text-center">
                        <img alt="avtar" class="img-fluid mx-auto d-block pt-2 mb-1" src="assets/img/logos/logo-color-big.png" width="100">
                    </span>
***REDACTED***
