
<div  class="chat-page">
<div class="chat-container row">


<div class="user-list col-md-4">
  
    <div class="search-input">
        <form (keyup)="getChatUser(siteName.value)">
            <input  id="search" type="text" placeholder="search" name="siteVal"  [(ngModel)]="siteVal" #siteName>
***REDACTED***
