<!--Basic google map starts-->
<section id="map">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Google Map</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
***REDACTED***
