<div class="breadcrumb-wrap">
  <img src="assets/img/breadcrumbbg.jpg" class="bg-img">
  <div class="overlay-bg"></div>

  <div class="overlay-content">
    <h1>Wishlist</h1>
    <h6>Checkout with your wish item or edit</h6>
  </div>
</div>

***REDACTED***
