<ion-header>
  <ion-navbar>
    <ion-title>push</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="local-push-page">
  <form #f="ngForm" (ngSubmit)="onSend(f)">
    <ion-row class="chat-footer">
***REDACTED***
