<ion-header>
    <ion-navbar>
        <ion-title>{{"Refine" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="refine animated fadeInLeft" padding>
    <!--<div class="menu">-->
    <h5>{{"Search By Brand" | translate}}</h5>
***REDACTED***
