<div *ngIf="values && values.length" class="md-chip-list"  [ngClass]="focused">
  <span *ngFor="let value of values" class="md-chip" selected >         
    {{value}} <i class="close fa fa-times" aria-hidden="true" (click)="removeValue(value)" ></i>
  </span>

  <span>
    <input  [(ngModel)]="labelToAdd" 
            (keyup.enter)="addValue(box.value, $event);$event.preventDefault()"
            (focus)="onFocus()" 
            (focusout)="focusOutFunction()"  
***REDACTED***
