<!--NoUI Slider Starts-->
<section id="slider-values">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">NoUI Slider Options</div>
        </div>
    </div>
    <div class="row">
        <!--Single Value NoUI Slider Starts-->
        <div class="col-sm-12 col-md-6">
***REDACTED***
