  <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
      <div class="row no-gutters">
        <div class="col-md-6 fh-section" style="background-image: url(assets/img/coming-soon-bg.jpg);"><span class="overlay" style="background-color: #374250; opacity: .85;"></span>
          <div class="d-flex flex-column fh-section py-5 px-3 justify-content-between">
            <div class="w-100 text-center">
              <div class="d-inline-block mb-5" style="width: 129px;"><img class="d-block" src="assets/img/logo/logo-light.png" alt="Unishop"></div>
              <h1 class="text-white text-normal mb-2">Coming Soon...</h1>
              <h5 class="text-white text-normal opacity-80 mb-4">Our website is currently under construction. It goes live in:</h5>
***REDACTED***
