<card [title]="'Sign in with your app id to continue'" [align]="'center'">
  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput id="exampleInputEmail1" type="email" name="email" placeholder="Enter email" autocomplete="off" formControlName="email"
        required="" #email />
      <div *ngIf="formErrors.email" class="text-danger">
        {{ formErrors.email }}
      </div>
    </md-input-container>

***REDACTED***
