<div class="breadcrumb-wrap">
    <img [src]="bannerDetails.url" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>{{bannerDetails.title}}</h1>
        <h6>{{bannerDetails.description}}</h6>
    </div>
</div>

***REDACTED***
