<div class="content-heading">Categories
<div class="pull-right"> 
            <label class="file-upload">
              <a [routerLink]="'/categories/addCategory'">  <button class="btn btn-warning"><em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Category</button> </a>  
            </label>
 </div><br/><br/>
<small><a [routerLink]=" ['/home'] ">Dashboard</a>  ->  Categories</small>
</div>

<div class="panel panel-default">
***REDACTED***
