<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<table class="table table-striped" [mfData]="tokenData" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th class="text-center">
        <mfDefaultSorter>Sr no.</mfDefaultSorter>
      </th>
      <!-- <th class="text-center">
      <mfDefaultSorter>Token Id</mfDefaultSorter>
***REDACTED***
