<div class="auth-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9 offset-md-1">
            <img src="assets/icons/logo.png" class="logo" />

            <h1 class="h1xl color-b barlow-semibold">
              Reset Password
***REDACTED***
