$night-clear: "\f02e";
$night-alt-cloudy: "\f086";
$night-alt-cloudy-gusts: "\f022";
$night-alt-cloudy-windy: "\f023";
$night-alt-hail: "\f024";
$night-alt-lightning: "\f025";
$night-alt-rain: "\f028";
$night-alt-rain-mix: "\f026";
$night-alt-rain-wind: "\f027";
$night-alt-showers: "\f029";
***REDACTED***
