//hero-slider-default
.hero-slider{
.owl-carousel {
   .owl-nav{
  display: block!important;
  .owl-prev,.owl-next{
    color: transparent;
    opacity: .86;
    width: 54px;
    height: 54px;
***REDACTED***
