<!--Coming soon starts-->
<section id="coming-soon">
  <div class="container-fluid gradient-flickr white">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card card-transparent box-shadow-0 no-border">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-text pb-2">WE ARE LAUNCHING SOON.</h5>
              <img alt="avtar" class="img-fluid mb-2" src="assets/img/logos/logo-big-white.png" width="100">
***REDACTED***
