<div class="row">
</div>
<div class="row">
  <div class="col">
    <div class="text-right">
      <a [routerLink]="'/products/add'" class="btn btn-raised btn-danger">
        <em class="fa fa-plus">&nbsp;&nbsp;</em>Add Products
      </a>
    </div>
    <div class="custom-spin" *ngIf="loading">
***REDACTED***
