<!-- Fabs (Floating Action Buttons) in cards start -->
<section id="fabs-examples">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Fabs (Floating Action Buttons) in cards</div>
            <p class="content-sub-header">Cards require a small amount of markup and classes to provide you with as much control as possible. These classes
                and markup are flexible though and can typically be remixed and extended with ease. For example, if your
                card has no flush content like images, feel free to put the <code>.card-block</code> class on the <code>.card</code>                element to consolidate your markup.</p>
        </div>
    </div>
***REDACTED***
