<section id="alert">
    <div class="row match-height">
        <div class="col-sm-12">
            <div class="content-header">Alerts</div>
            <p class="content-sub-header">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
        </div>
    </div>
    <!--Alert States Starts-->
    <div class="row match-height">
        <div class="col-md-12">
***REDACTED***
