// This needs review, including colors: https://www.google.com/design/spec/style/typography.html#typography-styles

h1, .h1 {
    font-size: $h1-font-size;
}
h2, .h2{
    font-size: $h2-font-size;
}
h3, .h3{
    font-size: $h3-font-size;
***REDACTED***
