<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Form Validation</div>
    </div>
</div>
<!-- Reactive Form Validaton Starts -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
***REDACTED***
