<!--DataTable With Editing Feature Starts-->
<section id="editing-DataTable" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Editing Content</div>
            <p class="content-sub-header">Double click on any content to edit that section.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
***REDACTED***
