// Removed because does not support https.
@import "../icon-fonts/icon-fonts";

.i-nav {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
.i-nav-notification {
  @extend .i-nav;
***REDACTED***
