<ion-header>
  <ion-navbar>
    <ion-title>About us</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="about-content">
  <ion-grid class="grid">
    <!-- grid title -->
    <p class="grid-title">
      Meet Our Team
***REDACTED***
