<div class="row">
  <div class="col-md-12 text-primary">
    <h2 translate>ORDERS</h2>
  </div>
  <div class="panel panel-default container">
    <div class="row">
      <div class="panel-heading col-md-10">
        {{ "ORDER_DETAILS" | translate }}
      </div>
    </div>
***REDACTED***
