<ion-header>
  <ion-toolbar color="primary" hideBackButton="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"SIGN UP" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

***REDACTED***
