<div class="breadcrumb-wrap">
    <img src="assets/img/cart-bg.png" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>Shopping Cart</h1>
        <!-- <h6>Select your choice and shop more...</h6> -->
    </div>
</div>

***REDACTED***
