.upload{
    position: absolute;
    margin-top: -2rem;
    opacity: -0.3;
  }
  .icon-upload{
    margin-left: 34px;
    // position: absolute;
    // margin-top: -23px;
  }
***REDACTED***
