<div class="content-heading"> Update Banner
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/editbanner']"> Update Banner </a>->
    Update Banner Item
  </small>
</div>
<div class="container-fluid">
  <div class="main-wrapper pb-4 mb-5">
    <div class="row p-4">
      <div class="col-md-12">
***REDACTED***
