<div class="content-heading">Orders
    <div class="pull-right">
        <label for="image-input" class="file-upload">
            <a>
                <button class="btn btn-warning" (click)="generateInvoice()">
                    <em class="fa fa-print"></em>&nbsp;&nbsp;Invoice</button>
            </a>
        </label>
    </div>
    <small>
***REDACTED***
