<!-- Font Awesome section start -->
<section id="font-awesome-icons">
  <div class="row">
      <div class="col-sm-12">
          <div class="content-header">Font Awesome Icons</div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="card">
***REDACTED***
