//https://www.google.com/design/spec/components/cards.html#cards-content-blocks
.card {
  border: 0;
  margin: 18px 0;
  @include card-shadow();
  border-radius: $border-radius-base;

  @extend %std-font;

  &[class*="gradient-"] {
***REDACTED***
