<div class="row">
	<div class="col-12">
		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">Kick start your project development !</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-text">
***REDACTED***
