$alien: "\f075";
$celsius: "\f03c";
$fahrenheit: "\f045";
$degrees: "\f042";
$thermometer: "\f055";
$thermometer-exterior: "\f053";
$thermometer-internal: "\f054";
$cloud-down: "\f03d";
$cloud-up: "\f040";
$cloud-refresh: "\f03e";
***REDACTED***
