<template>
  <div class="row">
    <div class="flex md12 xs10">
      <va-card>
        <h6 class="text-center">{{!this.isEdit ? 'ADD PRODUCT' : 'EDIT PRODUCT'}}</h6>
        <form @submit.prevent="submit">
          <div class="row">
            <div class="flex offset--md1 md10 sm12 xs12">
              <va-select label="Select Category" v-model="categoryName" class="mt-4 mb-0" :options="this.categoryList" />
              <p v-if="!$v.categoryName.required && attemptSubmit" class="empty-error ml-0">This field must not be empty.</p>
***REDACTED***
