<div class="email-application">
    <div class="email-app-sidebar float-left d-none d-xl-block">
        <div class="email-app-sidebar-content">
            <div class="email-app-menu">
                <div class="form-group form-group-compose text-center">
                    <button type="button" class="btn btn-raised btn-danger btn-block my-2" (click)="open(content)">
                        <i class="ft-mail"></i> Compose</button>
                </div>
                <h6 class="text-muted text-bold-500 mb-1">Messages</h6>
                <div class="list-group list-group-messages">
***REDACTED***
