<section class="form-wrapper">
	<img src="assets/img/login.png" class="bg-img">
	<div class="bg-overlay"></div>
	<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
		<div class="form-content">
			<img [src]="webLogo">
			<p class="title">welcome to restraurant app</p>

			<div class="form-group">
				<label for="username">{{'Email' | translate}}</label>
***REDACTED***
