<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">{{'MY_PROFILE' | translate}}</div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header pb-2">
***REDACTED***
