// Card Basic
.card {
  font-weight: 400;
  border-radius: .3rem;
  &:not([class*="card-outline-"]) {
    border: 0;
    @extend .z-depth-1;
  }
  img {
    border-radius: 2px 2px 0 0;
***REDACTED***
