// CAROUSELS BASIC
.carousel {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 36px;
    height: 36px;
  }
  .carousel-control-prev-icon {
    background-image: url(#{$image-path}/svg/arrow_left.svg);
  }
***REDACTED***
