// ACCORDION
.accordion {
  .card {
    border-bottom: 1px solid color('grey', 'lighten-3');
    box-shadow: none;
    .card-header {
      padding: 1rem 1.5rem;
      background: transparent;
      border-bottom: 0;
      a:not(.collapsed) {
***REDACTED***
