// FOOTER
footer {
  &.page-footer {
    margin-top: $footer-margin-top;
    padding-top: $footer-padding-top;
    color: $white;
    .container-fluid {
      width:auto;
    }
    .footer-copyright {
***REDACTED***
