// Navbar
.navbar {
  font-weight: $font-weight;
  padding-right: 1rem !important;
  form {
    input {
      margin: 0 $navbar-form-input-mr $navbar-form-input-mb $navbar-form-input-ml;
      height: $navbar-form-input-height;
    }
  }
***REDACTED***
