.pagination {
  .page-link {
    background-color: transparent;
    font-size: 0.8rem;
  }
  .active .page-link {
    border-radius: 2px;
    transition: all 0.2s linear;
    @extend.z-depth-1;
    &:hover {
***REDACTED***
