// Progress
.progress {
  box-shadow: none;
  position: relative;
  display: flex;
  width: 100%;
  height: $progress-bar-height;
  overflow: hidden;
  margin-bottom: $progress-bar-margin-y;
  background-color: $progress-bar-bg-color;
***REDACTED***
