<ion-header>
  <ion-navbar>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login">
    <ion-row>
      <!--  <img class="img" [src]="url"><br> -->
***REDACTED***
