<div class="container-md">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div>
        <div class="panel b">
          <div class="panel-heading bg-purple-dark text-bold ">Profile</div>
          <div class="panel-body">
            <form role="form" (ngSubmit)="onUpadteUser(f)" #f="ngForm">
              <div class="form-group">
***REDACTED***
