<!-- <div class="content-heading">
   <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button>Invoice
</div> -->
<div class="waiting-loader" *ngIf="loading">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="panel" *ngIf="!loading">
  <div class="panel-body">
    <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
***REDACTED***
