<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<card title="Update-Variant">
	<form (ngSubmit)="onUpdateVariant(f)" #f="ngForm">
		<!-- size and Color -->
		<div class="row margin-row">
			<div class="col-md-6">
				<md-icon>format_color_fill</md-icon>
				<md-select placeholder="{{productsVariant?.color}}" class="select-width" name="color" id="colorId" (change)="onSelectColor($event) ">
					<md-option *ngFor=" let color of colorData ;let i= index " [value]="i">{{color?.title}}</md-option>
***REDACTED***
