<div class="content-heading">Restaurant Details
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/restaurant/addRestaurant'">
        <button class="btn btn-warning">
          <em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Restaurant</button>
      </a>
    </label>
  </div>
  <small>
***REDACTED***
