 .chat-box{
    position: relative;
    background-color: #f5f5f5;
    padding: 0;
    .chat-header{
        display: flex;
        justify-content: space-between;
        height: 3.8em;
        border-bottom: 1px solid #b6bbc2;
        padding: 0px 6px;
***REDACTED***
