<nav class="{{SideClass}}" #nav>
  <div [ngClass]="{'container': containerInside}" [ngStyle]="{'display': displayStyle}" #container>
    <ng-content select="logo"></ng-content>
    <ng-content *ngIf="this.doubleNav == true" select="navlinks"></ng-content>
    <div *ngIf="this.doubleNav == false">
      <button class="navbar-toggler" type="button" (click)="toggle($event)" mdbRippleRadius *ngIf="this.el.nativeElement.children.length !== 0">
        <span class="navbar-toggler-icon">
        <i class="fa fa-bars"></i>
        </span>
      </button>
***REDACTED***
