<br/><br/>
<div class="row footer-section">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 col-6">
        <h6 class="smaller-text barlow-regular color-b-c m-0 footer-title">
          {{ "COPYRIGHT" | translate }}@{{ year }} {{ storeName }}
        </h6>
      </div>
      <div class="pointer text-right col-md-4 col-4">
***REDACTED***
