<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary" translate>NOTIFICATIONS</div>
        <div class="content-header text-center info" translate>NOTIFICATION_INFO</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header pb-2">
***REDACTED***
