<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Profile Info</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <p>Required Field</p>
          <form (ngSubmit)="updateUserDetails()" #updateUserForm="ngForm">
***REDACTED***
