:host /deep/ .page-link{
    margin-right: 0;
    border-radius: 0;
    border-width: 1px;
}

:host /deep/ .page-item{
    &:first-child{
        .page-link{
            border-top-left-radius: 0.3em;
***REDACTED***
