<template>
  <va-card
    class="circle-bars"
    :title="$t('progressBars.circle')"
  >
    <div class="row">
      <div v-for="n in 10" :key="n" class="flex xs4 sm2 lg1">
        <div class="d-flex justify--center">
          <div>
            <va-progress-circle :value="value * n / 10"/>
***REDACTED***
