<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Players</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Player Starts -->
<section id="players">
  <div class="card">
    <div class="card-header">
***REDACTED***
