<template>
  <va-navbar class="app-navbar">
    <header-selector slot="selector" :minimized.sync="minimizedProxy"/>
    <template slot="logo">
      <router-link to="/admin/dashboard">
        <img src="../../../assets/icons/logo2.png">
      </router-link>
    </template>
    <!-- <template slot="center">
      <div class="row flex-nowrap align--center justify--space-between">
***REDACTED***
