<ion-header>
  <ion-navbar>
    <ion-title>In-app-browsser</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="in-app-browser">
  <button ion-button block class="send-btn" (click)="openInAppBrowser()">Open In App Browser</button>
</ion-content>
***REDACTED***
