//
// Scaffolding
// --------------------------------------------------

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

***REDACTED***
