//
// Utilities
// Classes with a purpose to reduce the frequency of
// highly repetitive declarations
// --------------------------------------------------

.mask-1{
  position: absolute!important;
  width: 100%;
  height: 100%;
***REDACTED***
