@import '../../../../assets/sass/variable';

:host {
  align-items: center;
  background: $warning-color;
  color: #fff;
  display: table-cell;
  height: 100%;
  padding: ($module-rem * 2);
  text-align: center;
***REDACTED***
