<!--Toastr Starts-->
<section id="toastr">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Toastr</div>
            <p class="content-sub-header">By default, the toastr will show up at top right corner of the page view, and will automatically dismiss in 3 seconds. You can configure the toasts using ToastOptions class.</p>
        </div>
    </div>

    <!-- Types section start -->
***REDACTED***
