<div class="row">
  <div class="col">
      <div class="custom-spin" *ngIf="salesData?.length == 0 ">
          <img class="custom-img" [src]="noContentImage">
          <h5 class="nodata-text"> No sales ... </h5>
        </div>
    <div class="row" *ngIf="salesData?.length > 0">
      <div class=" col-md-4">
        <div class="card gradient-blackberry">
          <div class="card-body">
***REDACTED***
