<div class="row">
    <div class="col-12">
        <div class="content-header">Basic Tables</div>
        <p class="content-sub-header">All table styles are inherited in Bootstrap 4, meaning any nested tables will be styled in the same manner as the parent.</p>
    </div>
</div>
<!--Basic Table Starts-->
<section id="simple-table">
    <div class="row">
        <div class="col-sm-12">
***REDACTED***
