page-favourite {

  .bg {
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .list {
    margin: 0;
***REDACTED***
