<div class="auth-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9 offset-md-1" *ngIf="
              !verificationLevels.emailVerified &&
              !verificationLevels.otpVerified
            ">
            <img src="assets/images/webapp.png" class="showPointer logo" [routerLink]="['/home']" />
***REDACTED***
