<ion-header>
  <ion-navbar>
    <ion-title>{{"Write Review" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="product-rating">
***REDACTED***
