<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="text-right">
    <button md-raised-button color="accent" class="addButton" (click)="addCoupon()">Add New Coupon</button>
</div>
<br>
<table class="table table-striped" [mfData]="couponData" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 40%" class="text-center">
***REDACTED***
