<!--Carousel Starts-->
<section id="carousel">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Carousel</div>
      <p class="content-sub-header">Directive to easily create carousels based on Bootstrap's markup.</p>
    </div>
  </div>
  <div class="row" matchHeight ="card">
    <!--Basic Carousel Starts-->
***REDACTED***
