<div class="content-heading">Feedbacks
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> -> Feedbacks</small>
</div>
<div class="waiting-loader" *ngIf="loading == true">
  <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<!-- Zero Configuration-->
<div class="panel panel-default" *ngIf="loading == false">
  <div class="panel-heading">Feedbacks</div>
***REDACTED***
