//
// Accordion
// --------------------------------------------------

.accordion {
  .card {
    margin-bottom: floor($grid-vertical-step / 3); //~12px
  }
  [data-toggle='collapse'] {
    display: block;
***REDACTED***
