//
// Card
// --------------------------------------------------

.card {
  border-radius: $border-radius-lg;
  border-color: $border-color;
  .google-map {
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
***REDACTED***
