//
// Countdown
// --------------------------------------------------

.countdown {
  display: inline-block;
  @include clearfix;
  .item {
    display: block;
    margin: 7px;
***REDACTED***
