//
// Gallery (Photoswipe)
// --------------------------------------------------

// Gallery Item
.gallery-item {
  margin-bottom: 30px;
  > a {
    display: block;
    position: relative;
***REDACTED***
