//
// Modal
// --------------------------------------------------

.modal { z-index: 9200; }
.modal-content {
  border-radius: $border-radius-lg;
  border-color: $border-color;
}
.modal-header,
***REDACTED***
