//
// Tabs, Pills and Filters
// --------------------------------------------------

// Tabs
// --------------------------------------------------
.nav-tabs {
  border-bottom-color: $border-color;
  .nav-link {
    padding: 10px 20px;
***REDACTED***
