//
// Tables
// --------------------------------------------------

.table {
  thead th, td, th { border-color: $border-color; }
  &.table-inverse {
    background-color: $gray-darker;
    color: $white-color;
    thead th, td, th { border-color: $border-light-color; }
***REDACTED***
