//
// Tooltips and Popovers
// --------------------------------------------------

// Tooltip
.tooltip {
  font-family: $font-family-base;
  &.bs-tooltip-top {
    .arrow::before { border-top-color: $tooltip-arrow-color; }
  }
***REDACTED***
