<section id="ng-buttons">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <div class="content-header">Ngb-Buttons</div>
            <p class="content-sub-header">Easily create Bootstrap-style checkbox buttons. A value of a checked button is bound to a variable specified
                via <code>ngModel</code>.</p>
        </div>
    </div>
    <div class="row" matchHeight ="card">
        <!--Checkbox ng-buttons Starts-->
***REDACTED***
