<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<!-- <card title="Token">
  <div class="row">
    <div class="col-md-2">
      <label>Title:</label>
    </div>
    <div class="col-md-10">
      {{ticket.subject}}
    </div>
  </div>
***REDACTED***
