<!--Vertical Timeline Starts-->
<section id="timeline" class="timeline-center timeline-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">Vertical Timeline</div>
      <p class="content-sub-header">This vertical timeline contain post with photos, videos, charts and map to make timeline more effective.</p>
    </div>
  </div>
  <h3 class="page-title text-center">Timeline</h3>
  <ul class="timeline">
***REDACTED***
