/* ========================================================================
   Component: preloader
 ========================================================================== */
@import "../../shared/styles/app/variables";
@import "../../shared/styles/bootstrap/bootstrap/_mixins";

$preloader-bg: $brand-green;
$preloader-wd: 350px;
$preloader-hg: 65px;

***REDACTED***
