<div class="site-container" [ngClass]="getClasses()">
  <navbar [title]="pageTitle" (sidebarState)="sidebarState()"></navbar>

  <sidebar></sidebar>

  <main class="main-content">
    <div class="main-content-wrap">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
***REDACTED***
