@import '../../../assets/sass/variable';

:host {
  .site-container {
    .main-content {
      overflow-x: hidden;
      overflow-y: auto;
      padding: $navbar-height 0 0 $sidebar-width;
      transition: padding .2s $animation;
      @media #{$max991} {
***REDACTED***
