<div class="content-heading">View Category
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> ->
    <a [routerLink]="['/categories/manageCategories']"> Manage Categories </a>-> View Category
  </small>
</div>
<div class="col-masonry">
  <div class="panel b m0">
    <div class="panel-heading">
    </div>
***REDACTED***
