.main-content .wizard {
  width: 100%;
  overflow: hidden; }
.main-content .wizard .content {
  margin-left: 0 !important; }
.main-content .wizard > .steps {
  position: relative;
  display: block;
  width: 100%; }
.main-content .wizard > .steps .current-info {
***REDACTED***
