<div class="chat-application">
  <div class="row">
    <div class="col-md-3">
      <div class="chat-sidebar">
        <div class="chat-sidebar-content">
          <div class="chat-fixed-search p-3">
            <form>
              <div class="position-relative has-icon-left">
                <input class="form-control" id="timesheetinput1" name="employeename" [(ngModel)]="searchName"
                  type="text" (keyup)="searchChat($event.target.value)">
***REDACTED***
