
<template>
  <div class="row ">
    <div class="flex  md12 xs10">
      <va-card>
        <h6 class="text-center mb-5">{{!this.isEdit ? 'ADD COUPON' : 'EDIT COUPON'}}</h6>
        <!-- <div class="text--center pb-4 mt-5">
          <div class="flex-center spinner-box">
            <orbit-spinner :animation-duration="1200" :size="55" color="rgb(64, 229, 131)" v-if="loading" />
          </div>
***REDACTED***
