.about-content {
    .grid {
        //grid-heading	
        .grid-title {
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 17px;
            color: $black-c;
        }
***REDACTED***
