.login{
    background-image:url("../assets/images/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
     .logo{
        width:200px;
        display: block;
        margin: 0 auto;
        padding: 2em 0 0;
     }
***REDACTED***
