   .gallery-content {
        background-color:$gallery-bg;
       // gallary grid view
       .gallary-grid {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           -webkit-animation: galleryAnimation 1s 1 ease;
           background-color: transparent;
           .img-wrap {
***REDACTED***
