<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'Category' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="cart-btn" href="/cart" routerDirection="forward">
***REDACTED***
