// ================================================================================================
//     File Name: coming-soon.scss
//     Description: Coming Soon pages custom scss
// ================================================================================================

/*========== Coming Soon Background Image =========*/
.comingsoonVideo .app-content .coming-soon-content{
	z-index: 99;
}
.clockCard{
***REDACTED***
