//Variables
$sideber-border: #E4E7ED;
$sideber-width: 500px;

.email-application{
	.email-app-sidebar{
		background: white;
		position: fixed;
		width: 250px;
		height: calc(100vh - 150px);
***REDACTED***
