<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Syntax Highlighter</div>
    </div>
</div>
<!-- Basic Usage -->
<section id="basic-usage" class="row">
    <div class=" col-12">
        <div class="card">
            <div class="card-header">
***REDACTED***
