<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>


<ion-content class="grid-content animated fadeInUp">
    <div *ngIf="!isProduct">
        <p> {{"Products not found" | translate}}</p>
        <p>{{"Please refine again" | translate}}.</p>
    </div>
***REDACTED***
