/*
bootstrap table theme
*/

.ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 1rem;
    .datatable-header {
      height: unset !important;
      .datatable-header-cell {
***REDACTED***
