<div class="container-fluid"> <!-- Heading container -->
  <div class="row">
    <div class="col-md-6">
      <h4>Categories</h4>
    </div>
    <div class="col-md-6 text-right">
      <div>
        <a [routerLink]="'/categories/add'">
          <button  type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Add Category
          </button>
***REDACTED***
