<ion-header>
  <ion-navbar>
    <ion-title>Product-details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="ecommerce-content">
  <div class="product-details">
    <!-- product image -->
***REDACTED***
