<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div *ngIf="showUpdate == false">
	<button md-raised-button color="accent" class="addButton" (click)="openAdd()">
		Add
	</button>
</div>
<card title="Add Sub Category" *ngIf="showUpdate == false ">
	<form (ngSubmit)="onAddSubCategory(f)" #f="ngForm">
		<div class="row">
***REDACTED***
