<div class="content-heading"> Update Menu Items
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/menu/list']"> Menu Items </a>->
    Update Menu Item
  </small>
</div>
<div class="container">
  <!-- START panel-->
  <div class="panel panel-default">
    <div class="panel-heading">Item Details</div>
***REDACTED***
