<app-header>
</app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- loader use loader with parent as a realtive value .p-relative (Utilities)-->
<!-- <div class="loader" style="background-image: url('assets/img/loading.gif');"></div> -->
<!--/ loader -->***REDACTED***
