<div class="breadcrumb-wrap">
    <img src="assets/img/chekout-bg.png" class="bg-img">
    <div class="overlay-bg"></div>

    <div class="overlay-content">
        <h1>{{ 'Account' | translate }}</h1>
        <h6>{{ 'Edit your User name, Email address and Shipping address.' | translate }}</h6>
    </div>
</div>

***REDACTED***
