@import "../../../../assets/sass/scss/gradient-variable";

:host /deep/ .ct-grid{
  stroke-dasharray: 0px;
  stroke: rgba(0, 0, 0, 0.1);
}

:host /deep/ .ct-label{
  font-size: 0.9rem;
}
***REDACTED***
