<div class="row">
  <div class="col-md-3">
    <h6 class="text-center mb-0 text-bold-500">
      <!--<i class="fa fa-cutlery mr-1" aria-hidden="true"></i>-->
      RestaurantName
    </h6>
  </div>
  <div class="col-md-3">
    <h6 class="text-center  mb-0 text-bold-500">
      <!--<i class="fa fa-user mr-1" aria-hidden="true"></i>-->
***REDACTED***
