/* ========================================================================
     Component: row-extra
 ========================================================================== */
 

// Different container size to wrap content

.container-sm {
  max-width: $container-sm;
  width: auto;
***REDACTED***
