<ion-header>
    <ion-navbar>
        <ion-title>{{"Wishlist" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="wishlist" padding>
    <div *ngIf="!isLoggedin()">
        <ion-row>
            <ion-icon class="empty-cart" name="heart"></ion-icon>
***REDACTED***
