<!-- Basic Elements start -->
<section class="basic-elements">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Form Inputs</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
***REDACTED***
