@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';

.home-container {
  margin: 0 auto;
  max-width: $container-md;

  .home-logo {
    width: 240px;
  }
***REDACTED***
