page-checkout {

   .content{
    background-image: url(../assets/img/address-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

   .card-title{
***REDACTED***
