<section class="color-palette">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header mb-3">Color Palette</div>
    </div>
  </div>
  <!--App color starts-->
  <div class="row app-color overflow-hidden">
    <div class="color-group col-sm-4 mb-3">
      <ul class="pl-0">
***REDACTED***
