<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Tag</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form (ngSubmit)="saveTag(addTagForm)" #addTagForm="ngForm">
            <div class="row">
***REDACTED***
