<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="content-heading">Image Uploader</div>
      <form class="card">
        <tabset [justified]="true">
          <tab>
            <ng-template tabHeading>Logo</ng-template>
            <div class="form-group row">
***REDACTED***
