<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container" >
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Shop Categories</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children">
        <span><a >Men's Shoes</a><span class="sub-menu-toggle" (click)="navSubMenuToggle(1)">
        </span></span>
***REDACTED***
