<div class="content-heading"> Update Menu Items
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
        <a [routerLink]="['/menu/manageItems']"> Menu Items </a>->
        Update Menu Item
    </small>
</div>
<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Item Details</div>
    <div class="panel-body">
***REDACTED***
