<section class="form-wrapper">
  <img src="assets/img/login.png" class="bg-img">
  <div class="bg-overlay"></div>
  <div class="form-content" *ngIf="!isEmailVerified">
    <img src="assets/img/logo.png">
    <p class="title">enter you email address to get link to change password.</p>
    <form (ngSubmit)="verifyEmail(emailForm)" #emailForm="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" name="email" ngModel required email id="email" #email="ngModel">
***REDACTED***
