<div class="content-heading">Tags
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/tags/add'">
        <button class="btn btn-success"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add Tag</button>
      </a>
    </label>
  </div>
  <small><a [routerLink]=" ['/home'] ">Home</a> ->
    Tags
***REDACTED***
