<!-- Sidebar Header starts -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a class="logo-text float-left">
            <div>
                <img class="logo-img" *ngIf="sidebarImage" src="{{sidebarImage}}" />
            </div>

        </a>
        <!-- <a class="nav-toggle d-none d-sm-none d-md-none d-lg-block" id="sidebarToggle" href="javascript:;">
***REDACTED***
