<!--Basic button starts -->
<section id="buttons">
    <div class="row">
        <div class="col-sm-12 mt-2">
            <div class="content-header">Buttons</div>
        </div>
    </div>
    <div class="row">
        <!--Flat Buttons Starts -->
        <div class="col-sm-12">
***REDACTED***
