@font-face {
  font-family: 'zocial';
  font-style: normal;
  font-weight: normal;
  src: url('./../sass/icon-fonts/zocial/zocial-regular-webfont.eot');
  src: url('./../sass/icon-fonts/zocial/zocial-regular-webfont.eot?#iefix') format('eot'),
  url('./../sass/icon-fonts/zocial/zocial-regular-webfont.woff') format('woff'),
  url('./../sass/icon-fonts/zocial/zocial-regular-webfont.ttf') format('truetype'),
  url('./../sass/icon-fonts/zocial/zocial-regular-webfont.svg#zocialregular') format('svg');
}
***REDACTED***
