.navbar {
  z-index: 1; // required to make the shadow overlap the below content (need is visible in mobile drawer overlay)
  border: 0;
  border-radius: 0;

  .navbar-brand {
    position: relative;
  }

  .navbar-nav{
***REDACTED***
