<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cart"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Payment Options" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


***REDACTED***
