<ion-header>
  <ion-navbar>
    <ion-title>{{'News'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="newsDetail(news._id)" *ngFor="let news of newsList">
      <ion-thumbnail item-left>
***REDACTED***
