<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>

<div class="custom-spin" *ngIf="loading">
	<md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
	<h5 class="loading-text">Loading...</h5>
</div>

<div class="custom-spin" *ngIf="arrayLength == 0 ">
	<img class="custom-img" src="{{url}}">
	<h5 class="nodata-text"> No Content ... </h5>
***REDACTED***
