<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Order Details" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-order-details">
***REDACTED***
