<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>{{'Thank You' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-content">
  <ion-row>
    <ion-col col-12>
      <div class="thanks">
***REDACTED***
