<ion-header>
  <ion-navbar>
    <ion-title>{{'Add address'|translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="address" padding>
  <form (ngSubmit)="onSubmitAddress()" #f="ngForm">
    <ion-list class="form-data">
***REDACTED***
