<breadcrumb [menu]="breadcrumbIcon" [style]="'custom2'"></breadcrumb>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">

      <card title="Add-Category">
        <form (ngSubmit)="onSaveCategory(f)" #f="ngForm">
          <div class="row">
            <div class="col-md-9 ">
***REDACTED***
