<div class="content-heading">Loyalty
   <small><a [routerLink]=" ['/home'] ">Dashboard</a> -> Setting</small>
</div>
<div class="row">
   <div class="col-sm-6">
   <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"><strong>Loyalty</strong> Percentage</div>
         <div class="panel-body">
            <form role="form" (ngSubmit)="onSubmitLoyality()" #f="ngForm">
***REDACTED***
