page-news {
  .item-block {
    align-items: flex-start !important;
  }
  ion-label {
    white-space: initial !important;
  }
  .bg {
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
***REDACTED***
