<ion-header>
    <ion-navbar>
        <ion-title>{{"News" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content [ngClass]="{bg:!isNews()}">
    <div *ngIf="!isNews()">
        <ion-row>
***REDACTED***
