<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Restaurant App" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="navcart()" class="header-btn-cart">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
***REDACTED***
