<div class="row">
    <div class="col text-primary">
        <h2>{{ "PRODUCTS" | translate }}</h2>
    </div>
    <div class="col">
        <!--Multiple buttons Starts-->
        <section id="multiple-buttons">
            <div class="row text-left">
                <div class="col-sm-12 pull-right">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-raised add-button"
                                        [routerLink]="['/products/add-product']" aria-label="Add">
                                        <i class="ft-plus"></i> &nbsp;
                                        {{ "ADD_NEW_PRODUCT" | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Multiple buttons Ends-->
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<!--table starts-->
<section id="ng-tables">
    <div class="row text-left">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <ng-select class="mt-2" [disabled]="isLoading" [items]="categories"
                                        [bindLabel]="'title'" [bindValue]="'_id'" [(ngModel)]="selectedCategory"
                                        name="category" (change)="filterByCategory()" [searchable]="true">
                                    </ng-select>
                                </div>
                                <div class="col-md-3" *ngIf="subCategories.length > 0">
                                    <ng-select class="mt-2" [disabled]="isLoading" [items]="subCategories"
                                        [bindLabel]="'title'" [bindValue]="'_id'" [(ngModel)]="selectedSubCategory"
                                        name="subCategory" (change)="filterBySubCategory()" [searchable]="true">
                                    </ng-select>
                                </div>
                                <button class="btn btn-outline-dark mt-2 ml-3" (click)="exportProduct()">
                                    {{ "EXPORT_PRODUCT" | translate }}
                                </button>
                                <button class="btn btn-outline-dark mt-2 ml-2" (click)="openFilePickerInput()">
                                    {{ "IMPORT_PRODUCT" | translate }}
                                </button>
                                <input type="file" accept=".csv,.xlsx" id="file-input" style="display: none;"
                                    (change)="importProduct($event)" />
                                <button class="btn btn-outline-dark mt-2 ml-2" (click)="downloadBaseTemplate()">
                                    {{ "BASE_TEMPLATE" | translate }}
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{ "NAME" | translate }}</th>
                                            <th scope="col">{{ "CATEGORY" | translate }}</th>
                                            <th scope="col">{{ "SUB_CATEGORY" | translate }}</th>
                                            <th scope="col">{{ "DEAL_OFFER" | translate }}</th>
                                            <th scope="col">{{ "EDIT" | translate }}</th>
                                            <th scope="col">{{ "ENABLE" | translate }}</th>
                                            <th scope="col">{{ "VIEW" | translate }}</th>
                                            <th scope="col">{{ "IMAGE" | translate }}</th>
                                            <th scope="col">{{ "DELETE" | translate }}</th>
                                        </tr>
                                    </thead>

                                    <!-- <tbody>
                                      <td colspan="12">
                                        <div class="no-data mt-2">
                                          <h4 class="text-center">
                                            There is no data to display!
                                          </h4>
                                        </div>
                                      </td>
                                    </tbody> -->
                                    <tbody>
                                        <tr *ngFor=" let list of products | paginate: { itemsPerPage: limit,
                                            currentPage: page, totalItems: total }; let i = index">
                                            <td>{{ list.title }}</td>
                                            <td>{{ list.categoryName }}</td>
                                            <td> {{ list.subCategoryName || "-" }} </td>
                                            <td>{{ list.isDealAvailable ? list.dealPercent + "%" : "-"  }}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-raised btn-success"
                                                    [routerLink]="['/products/edit-product/' + list._id]"
                                                    aria-label="Edit">
                                                    <i class="ft-edit-2"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="!list.isDealAvailable; else dealLinked">
                                                    <ui-switch (change)="updateStatus(list._id, $event)"
                                                        [checked]="list.status === true" name="status{{ i }}">
                                                    </ui-switch>
                                                </ng-container>
                                                <ng-template #dealLinked>
                                                    <i class="fa fa-info"
                                                        ngbTooltip="{{ 'PRODUCT-DEAL-LINK' | translate }}"></i>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <button class="btn btn-raised btn-secondary"
                                                    [routerLink]="['/products/view-product/' + list._id]" type="button">
                                                    <em class="fa fa-eye"></em>
                                                </button>
                                            </td>
                                            <td>
                                                <img [src]="list.imageUrl" style="width: 50px;" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-raised btn-danger"
                                                    (click)="deleteProduct(list._id)">
                                                    <em class="fa fa-trash"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="d-flex justify-content-between p-2" *ngIf="total > 0">
                                <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--table ends-->