<!--Collapse on toggle starts-->
<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="content-header">Collapse</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
***REDACTED***
