<ion-header>
  <ion-navbar>
    <ion-title>{{"Blogs" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="category_content">
  <ion-card *ngFor="let blog of blogList">
    <div class="image" (click)="gotoblogItem( blog._id)">
      <img src="{{blog.images}}">
      <ion-row class="bg-overlay">
***REDACTED***
