<div *ngIf="activeAddBlock">
  <!-- Add PIN -->
  <div class="content-heading"> Add PIN
    <small>
      <a [routerLink]=" ['/home'] ">Dashboard</a> ->
      <a [routerLink]="['/delivery']"> Add Delivery Pin </a>->
    </small>
  </div>
  <!-- *ngIf="showDeliveryFields" -->
  <div class="row">
***REDACTED***
