<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="order-details"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Order Status' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-order-status">
***REDACTED***
